@import "bootstrap/bootstrap";
@import "frontend";
@import "tracon_categories";

.navbar-main {
    background: @brand-primary url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaBAMAAABbZFH9AAAAElBMVEX///////////////////////+65XQCAAAABnRSTlMAHyEcGh7LhlI1AAAAf0lEQVR4Xl3OMQrDMBSDYR/hTyG7mhNoyS4o3VV6/7sUb7UFb/p4SOP1Oc77cV3P93l8h8d/nBlLSNqNiqkYDRaTaKCmeHSxCtsEJR1aDJDspK62v1iaqDret1QSzPPexyQqJLPtZKLcAtq22IUQIzGyWEliSqC7ldglUrL2/QBWYh5FPnmMCgAAAABJRU5ErkJggg==);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.3);
}

.panel {
    box-shadow: 2px 3px 15px -1px rgba(0, 0, 0, 0.2);
}

.label-brand {
    .label-variant(@brand-primary);
}

@media (min-width: @screen-md-min) {
    .kompassi-event-boxen .panel {
        height: 185px;
    }
}

