extends core_admin_base
block admin_content
  .panel.panel-default
    .panel-heading: strong Vie ohjelmatiedot Exceliin
    .panel-body
      p Tästä voit ladata tiedot tapahtuman ohjelmanumeroista Excelin ymmärtämässä <abbr title="Tab Separated Values">TSV</abbr>-muodossa.
    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-primary(href='{% url "programme_admin_export_view" event.slug %}') Lataa ohjelmatiedot Excel-muodossa
  .panel.panel-default
    .panel-heading: strong Lista ohjelmanjärjestäjien sähköpostiosoitteista
    .panel-body
      p Tästä voit ladata listan ohjelmanjärjestäjien sähköpostiosoitteista muodossa, jonka voi kopioida suoraan esimerkiksi GMailin BCC-kenttään. Jokainen osoite esiintyy listassa vain kerran riippumatta siitä, montako ohjelmanumeroa kyseinen ohjelmanjärjestäjä järjestää.
    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-primary(href='{% url "programme_admin_email_list_view" event.slug %}', target='_blank') Avaa lista sähköpostiosoitteista
