extends base
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Invitation to organize programme" %}
block content
  h2 {% trans "Invitation to organize programme" %}
  p {% trans "The programme manager has invited you as a host to the programme outlined below. In order to be admitted to the event as a programme organizer, you need to accept this invitation and fill out the requested details." %}

  include core_contact_information_panel

  form.form-horizontal(method='POST')
    {{ sired_invitation_formset.management_form }}
    .panel.panel-default
      .panel-heading: strong {% trans "Programme information" %}
      .panel-body {% crispy form %}

    if signup_extra_form
      .panel.panel-default
        .panel-heading: strong {% trans "Information about yourself" %}
        .panel-body {% crispy signup_extra_form %}

    .panel.panel-default
      .panel-heading: strong {% trans "Programme hosts" %}
      include programme_invitations_table
      if host_can_invite_more
        .panel-footer
          p.text-muted {% blocktrans count num_invites=num_extra_invites %}The programme manager has allowed you to invite one more host to this programme. You may do so now by entering their e-mail address in the field above, or later via your profile.{% plural %}The programme manager has allowed you to invite up to {{ num_invites }} hosts to this programme. You may do so now by entering their e-mail addresses in the fields above, or later via your profile.{% endblocktrans %}


    .panel.panel-default
      .panel-heading: strong {% trans "Accept invitation" %}
      .panel-body
        .help-block {% trans "You can change these details later by visiting your profile." %}
      .panel-footer.clearfix
        .btn-group.pull-right
          button.btn.btn-success(type='submit')
            i.fa.fa-check.kompassi-icon-space-right
            | {% trans "Accept invitation" %}
