extends base.jade
- load static from staticfiles
block title
  | Ohjelmakartta
block content_full_width
  .container-fluid
    include core_messages.jade
    include programme_timetable_admin_public_warning.jade
    include programme_timetable_tabs.jade
    include programme_timetable_fragment.jade
block extra_scripts
  script(src='{% static "timetable.js" %}')
