- load schedule_tags
for start_time, unused, programmes in programmes_by_start_time
  if programmes|programme_list_heading_should_be_rendered
    h3 {{ start_time|date:"l H:i"|capfirst }}
  for programme, rowspan in programmes
    if programme and programme.is_public or programme and internal_programmes
      include programme_info_fragment
