extends base.jade
block title
  | Mobiiliohjelmakartta
block content
  .mobile-timetable
    h1 Ohjelma nyt ja seuraavaksi
    for room, programmes in programmes_by_room
      h2 {{ room.name }}
      for label, programme in programmes
        if programme
          p
            label {{ label }}:
            a(href="/m/timetable/{{ programme.pk }}") {{ programme.start_time|date:'H:i'}}&ndash;{{ programme.end_time|date:'H:i'}} {{ programme.title }}
