extends base.jade
block title
  | {{ programme.title }}
block content
  .descriptions
    .programme(class='{{ programme.css_classes }}', id='p{{ programme.id }}')
      h4
        span.title {{ programme.title }}
        for tag in programme.tags.all
          |
          span.label(class='{{ tag.style }}') {{ tag.title }}
      .programme-info
        .meta
          span.room {{ programme.room.name }}
          |  klo
          span.times {{ programme.start_time|date:"H:i"}}&ndash;{{ programme.end_time|date:"H:i"}}
          |  &ndash;
          span.host {{ programme.formatted_hosts }}
        .description {{ programme.description|safe|linebreaks }}
