extends base.pug
- load i18n
- load crispy from crispy_forms_tags
block title
  | {% blocktrans with programme_title=programme.title %}Give feedback: {{ programme_title }}{% endblocktrans %}
block content
  h2 {% trans "Give feedback about a programme" %}
  form(method='POST').form-horizontal
    .panel.panel-default
      .panel-heading
        strong {{ programme.title }}
      .panel-body
        {% crispy form %}
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "programme_schedule_view" event.slug %}')
            i.fa.fa-undo.kompassi-icon-space-right
            {% trans "Discard feedback and return to schedule" %}
          button.btn.btn-success(type='submit')
            i.fa.fa-check.kompassi-icon-space-right
            {% trans "Submit feedback" %}
        p.text-muted {% trans "Your feedback will be shared with the programme host and the programme managers." %}
