extends core_admin_base
block title
  if programme.title
    | {{ programme.title }}
  else
    | Ohjelmanumeron tiedot
block admin_content

  for overlapping_programme in overlapping_programmes
    .alert.alert-warning Päällekkäinen ohjelmanumero: <a href='{% url "programme_admin_detail_view" event.slug overlapping_programme.id %}'>{{ overlapping_programme.title }}</a> ({{ overlapping_programme.formatted_times }})

  ul.nav.nav-tabs
    for tab in tabs
      li(role='presentation', class='#{tab.active_css}')
        a(href='##{tab.id}', aria-controls='#{tab.id}', role='tab', data-toggle='tab')= tab.title
          if tab.notifications
            .badge= tab.notifications

  form(method='POST', role='form').form-horizontal
    //- To catch Enter button presses
    input.btn.btn-success.hidden(type='submit', name='save-edit', value='Tallenna ja jatka muokkaamista')

    .tab-content.kompassi-slight-space-above
      include programme_admin_detail_views/public_tab.jade
      include programme_admin_detail_views/hosts_tab.jade
      include programme_admin_detail_views/internal_tab.jade
