extends core_admin_base
block admin_content
  form(method='POST', role='form').form-horizontal
    .panel.panel-default
      .panel-heading: strong Ohjelmanumeron tiedot
      .panel-body
        .form-horizontal
          include programme_admin_form.jade
      .panel-footer.clearfix
        .btn-group.pull-right
          a(href='{% url "programme_admin_view" event.slug %}').btn.btn-default Hylk채채 muutokset ja palaa listaan
          button(type='submit', name='save', value='save').btn.btn-success Tallenna ja jatka muokkaamista
          if can_send_link
            button(type='submit', name='save-sendlink', value='save-sendlink').btn.btn-primary L채het채 muokkauslinkki
          if programme.pk
            button(type='submit', name='delete', value='delete').btn.btn-danger Poista ohjelmanumero
