extends base.pug
- load static from staticfiles
block title
  | Ohjelmakartta
block content
  include programme_schedule_admin_public_warning
  include programme_schedule_tabs
  include programme_schedule_fragment
block extra_scripts
  script(src='{% static "schedule.js" %}')
