extends base.jade
block content
  include programme_schedule_admin_public_warning.jade
  include programme_schedule_tabs.jade
  .descriptions
    h2 Ohjelmakartan ulkopuolinen ohjelma

    if show_programme_actions
      .panel.panel-default
        .panel-heading: strong Suodata ohjelmaa
        .panel-body
          include programme_list_filters.jade

    include programme_list.jade
