h3 Ohjelma

if event.programme_event_meta.is_public
  h4 Tapahtuman ohjelmakartta on julkaistu

  p: a(href='{% url "programme_timetable_view" event.slug %}').btn.btn-primary Tutustu ohjelma&shy;karttaan
else
  h4 Tapahtuman ohjelmakarttaa ei ole vielä julkaistu.

if is_programme_admin
  h4 Sinulla on ohjelma&shy;vastaavan oikeudet tähän tapahtumaan

  p: a(href='{% url "programme_admin_view" event.slug %}').btn.btn-primary Siirry ohjelman hallintaan
