extends core_admin_base
- load crispy from crispy_forms_tags
- load trans from i18n
block title
  {% trans "New programme" %}
block admin_content
  form(method='POST', role='form').form-horizontal
    div
      .panel.panel-default
        .panel-heading
          strong {% trans "New programme" %}
        .panel-body
          {% crispy form %}
        .panel-footer.clearfix
          .btn-group.pull-right
            a(href='{% url "programme_admin_view" event.slug %}').btn.btn-default {% trans "Discard changes and return to the list" %}
            button(type='submit', name='save', value='save').btn.btn-success {% trans "Save and continue" %}