.schedule
  .legend
    ul.categories
      for category in categories
        li(class='{{ category.style }}') {{ category.title }}
  for view in views
    h2 {{ view.name }}
    table.table.table-bordered
      thead
        tr
          th
          for room in view.rooms.all
            th: {{ room.name }}
      tbody
        for start_time, incontinuity_css, programmes in view.programmes_by_start_time
          tr(class='{{ incontinuity_css }}')
            th: {{ start_time|date:"H:i" }}
            for programme, rowspan in programmes
              if programme
                if programme.is_public or internal_programmes
                  td.programme(rowspan='{{ rowspan }}', class='{{ programme.css_classes }}')
                    a(href='#p{{ programme.pk }}')
                      span.title.kompassi-space-after {{ programme.title }}
                      for tag in programme.tags.all
                        span.label.kompassi-space-after(class='{{ tag.style }}') {{ tag.title }}
                else
                  td.concealed.sisainen(rowspan='{{ rowspan }}')
              else
                td.blank

.descriptions
  h2 Tarkemmat ohjelmatiedot
  include programme_list.pug
