extends core_admin_base
- load crispy_forms_tags
block admin_content
  form(method='POST', role='form').form-horizontal
    .panel.panel-default
      .panel-heading: strong Ohjelmanumeron tiedot
      .panel-body
        .form-horizontal
          - crispy programme_form
          if programme.pk
            - crispy programme_extra_form
          - crispy programme_admin_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a(href='{% url "programme_admin_view" event.slug %}').btn.btn-default Hylkää muutokset ja palaa listaan
          if programme.pk
            button(type='submit', name='delete', value='delete').btn.btn-danger Poista ohjelmanumero
          button(type='submit', name='save', value='save').btn.btn-success Tallenna ja jatka muokkaamista

