doctype html
- load static from staticfiles
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title {{ event.name }}: Mobiiliohjelmakartta – {{ settings.KOMPASSI_INSTALLATION_NAME }}
    link(rel='stylesheet', href='{% static "programme/css/moe_tracon.css" %}')
  body
    script.
      var C = {
        starred_url: null,
        schedule_url: "{% url 'programme_moe_view' event.slug %}",
        logged_in: false,
        star_url: null,
        unstar_url: null,
        event_slug: "{{ event.slug }}",
      };
    script(src='{% static "programme/js/moe.js" %}')
