extends core_admin_base
block admin_content
  .panel.panel-default
    .panel-heading: strong Ohjelmaluettelo
    table.table.table-striped
      thead
        tr
          th Alkuaika
          th Sali
          th Otsikko
          th Ohjelmanpitäjä
      tbody
        for programme in programmes
          tr
            td {{ programme.formatted_start_time }}
            td {{ programme.room.name }}
            td: a(href='{% url "programme_admin_detail_view" event.slug programme.pk %}') {{ programme.title }}
            td {{ programme.formatted_hosts }}

    .panel-footer.clearfix
      .btn-group.pull-right
        button.btn.btn-default(type='button', data-toggle='dropdown') Vie <span class='caret'></span>
        ul.dropdown-menu(role='menu')
          li: a.btn.btn-link(href='{% url "programme_admin_email_list_view" event.slug %}', target='_blank') Sähköpostiosoitteet
          li: a.btn.btn-link(href='{% url "programme_admin_export_view" event.slug %}') Kaikki ohjelmatiedot
        a.btn.btn-primary(href='{% url "programme_admin_new_view" event.slug %}') Uusi ohjelma
