extends base
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Offer programme" %}
block content
  if alternative_programme_form.title
    h2 {{ alternative_programme_form.title }}
  else
    h2 {% trans "Offer programme" %}

  if alternative_programme_form.description
    p {{ alternative_programme_form.description|safe|linebreaks }}
  else
    p {% trans "Using this form you can offer programme to the event. Please note that filling in the form does not guarantee automatic admittance into the event. You will be contacted by the programme manager and notified of the decision whether to accept the programme or not." %}

  include core_contact_information_panel

  form.form-horizontal(method='POST')
    {{ sired_invitation_formset.management_form }}
    .panel.panel-default
      .panel-heading: strong {% trans "Programme information" %}
      .panel-body {% crispy form %}

    if signup_extra_form
      .panel.panel-default
        .panel-heading: strong {% trans "Information about yourself" %}
        .panel-body {% crispy signup_extra_form %}

    if num_extra_invites
      .panel.panel-default
        .panel-heading: strong {% trans "Programme hosts" %}
        include programme_invitations_table
        .panel-footer
          p.text-muted {% trans "If your programme has other hosts in addition to yourself, please write their e-mail addresses here. They will be sent invitations to confirm their participation in your programme. Please note that the programme manager may at their discretion limit the number of hosts allowed for your programme. Inviting someone here does not guarantee automatic admittance into the event. Adding more hosts later requires approval from the programme manager." %}

    .panel.panel-default
      .panel-heading: strong {% trans "Send offer" %}
      .panel-body
        .help-block {% trans "You can change these details later by visiting your profile." %}
      .panel-footer.clearfix
        .btn-group.pull-right
          button.btn.btn-success(type='submit')
            i.fa.fa-check.kompassi-icon-space-right
            | {% trans "Send offer" %}
