- load trans from i18n
.panel.panel-default
  .panel-heading
    include programme_panel_heading
  .panel-body
    include programme_info_fragment
  .panel-footer.clearfix
    .btn-group.pull-right
      if programme.host_can_edit
        a.btn.btn-primary(href='{% url "programme:profile_detail_view" programme.id %}')
          i.fa.fa-pencil-square-o.kompassi-icon-space-right
          {% trans "Edit programme" %}
      else
        a.btn.btn-default(href='{% url "programme:profile_detail_view" programme.id %}')
          i.fa.fa-pencil-square-o.kompassi-icon-space-right
          {% trans "View programme details" %}

      if programme.is_open_for_feedback
        a.btn.btn-success(href='{% url "programme:profile_feedback_view" programme.id %}')
          i.fa.fa-comment.kompassi-icon-space-right
          {% trans "View programme feedback" %}
          span.badge= programme.feedback.all.count
