extends base
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Offer programme" %}
block content
  h2 {% trans "Offer programme" %}

  p {% trans "This event is currently open for programme offers. Please begin by selecting below the type of programme you are offering." %}

  .panel.panel-default
    .panel-heading
      strong.kompassi-space-after= event.name
      small.text-muted= event.headline

    .list-group
      for alternative_programme_form in alternative_programme_forms
        a.list-group-item(href='{% url "programme_offer_form_view" event.slug alternative_programme_form.slug %}')
          h4 {{ alternative_programme_form.title }}
          {{ alternative_programme_form.short_description|linebreaks }}
