.row
  .col-md-3: strong Tyyppi
  .col-md-9
    for cf, active in category_filters
      if active
        span.label.label-brand.kompassi-space-after
          a(href='?{{ cf.qs_del }}') {{ cf.name }}
      else
        span.label.label-default.kompassi-space-after
          a(href='?{{ cf.qs_add }}') {{ cf.name }}
