extends core_admin_base
block title
  | Ohjelmakartan ulkopuolisten esikatselu
block admin_content
  .descriptions
    h3 Ohjelmakartan ulkopuolinen ohjelma

    if show_programme_actions
      .panel.panel-default
        .panel-heading: strong Suodata ohjelmaa
        .panel-body
          include programme_list_filters.pug

    include programme_list.pug
