extends base
- load static from staticfiles
block title
  | Ohjelmakartan esikatselu
block content
  .nav.nav-tabs
    include core_admin_menu_items.jade

  include programme_timetable_fragment.jade
block extra_scripts
  script(src='{% static "timetable.js" %}')
