extend core_profile_base
- load trans from i18n
block title
  | {% trans "E-mail address verification" %}
block profile_content
  fieldset
    legend {% trans "E-mail address verification" %}

    p {% trans "We ask all users to verify their e-mail addresses using a link sent to the address provided. If you have not received the verification e-mail, you can request a new one using the button below." %}

    form(action='{% url "core_email_verification_request_view" %}', method='post')
      {% csrf_token %}
      button.btn.btn-success(type='submit') {% trans "Send verification link" %}
