extends base.pug
- load i18n
block full_title
  | {{ event.name }} &ndash; {{ settings.KOMPASSI_INSTALLATION_NAME }}
block content
  .core-event-view
    .row
      .col-md-8
        h2 {{ event.name }}
          small.text-muted
            | &nbsp; {{ event.headline }}

        {{ event.description|linebreaks }}

        if event.homepage_url
          a.btn.btn-primary(href='{{ event.homepage_url }}', target='_blank') {% trans "Go to event home page…" %}

      .col-md-4.hidden-sm.hidden-xs
        if event.either_logo_url
          a(href='{{ event.homepage_url }}', target='_blank')
            img(src='{{ event.either_logo_url }}', alt='{{ event.name }}', width='100%')

    if event.cancelled
      h3.text-danger {% trans "This event has been cancelled" %}

      //- XXX FMH how do I blocktrans with links
      p.text-danger {% trans "For more information, see the" %} <a href="{{ event.homepage_url }}" target="_blank" rel="noreferrer noopener">{% trans "event home page" %}</a>.

    if event.enrollment_event_meta
      include enrollment_event_box

    if event.labour_event_meta
      include labour_event_box

    if event.programme_event_meta
      include programme_event_box

    if event.tickets_event_meta
      include tickets_event_box

    if event.tickets_v2_event_meta
      include tickets_v2_event_box

    if event.forms_event_meta
      include forms_event_box

    if event.badges_event_meta
      include badges_event_box

    if event.intra_event_meta
      include intra_event_box
