doctype 5
- load static from static
- load trans from i18n
html
  head
    title
      block full_title
        | {% if event %}{{ event.name }}: {% endif %}{% block title %}Nimetön näkymä{% endblock title %} &ndash; {{ settings.KOMPASSI_INSTALLATION_NAME }}
    link(rel='stylesheet', href='{% static "kompassi.css" %}')
    link(rel='stylesheet', href='{% static "core/css/font-awesome.min.css" %}')
    link(rel='icon', type='image/png', href='/static/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block extra_head
  body
    .navbar.navbar-inverse.navbar-main.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#base-navbar-collapse")
            span(class="sr-only") Avaa valikko
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          a.navbar-brand(href='/') {{ settings.KOMPASSI_INSTALLATION_NAME }}

        .collapse.navbar-collapse#base-navbar-collapse
          ul.nav.navbar-nav
            if login_page
              if event.homepage_url
                li: a(href='{{ event.homepage_url }}') {{ event.name_genitive }} kotisivuille
            else
              include core_navbar_event
          ul.nav.navbar-nav.navbar-right
            if not login_page
              include core_navbar_language
              include core_navbar_user

    #wrap
      block content_full_width
        .container.content
          include core_messages

          block content

      #push

    if not login_page and not disable_feedback_widget
      include feedback_widget

    footer
      .container
        p.credit
          small.text-muted
            include core_footer.html

    script(src='{% static "jquery-1.10.2.min.js" %}')
    script(src='{% static "bootstrap.min.js" %}')
    block extra_scripts
