extends base.pug
- load trans from i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Sign in" %}
block content
  h2 {% trans "Sign in or sign up" %}
  div(style='margin-top: 2em')
  .row.core-login-view
    .col-md-6
      form(method='POST', role='form').form.form-horizontal
        .panel.panel-default
          .panel-heading: strong {% trans "Sign in using your Kompassi account" %}
          .panel-body
              - crispy form
          .panel-footer.clearfix
            .pull-right
              a.btn.btn-link(href='{% url "core_password_reset_request_view" %}') {% trans "Forgot password" %}
              input.btn.btn-primary(type='submit', name='submit', value='{% trans "Sign in" %}')

      .panel.panel-default
        .panel-heading: strong {% trans "Create a Kompassi account" %}
        .panel-body
          p {% trans "For some of the services of this site you will need a user account which you can easily create here." %}
        .panel-footer.clearfix
          .pull-right
            a(href='{% url "core_registration_view" %}?next={{ next|urlencode }}').btn.btn-success {% trans "Sign up" %}

    include desuprofile_integration_login_box
