for item, active in filters
  if active
    span.label.label-brand.kompassi-space-after
      a(href='?{{ item.qs_del }}') {{ item.name }}
  else
    span.label.label-default.kompassi-space-after
      a(href='?{{ item.qs_add }}') {{ item.name }}
