extends base
- load crispy_forms_tags
// title set in inheriting views
block content
  .core-profile-view
    .row
      .col-md-9.col-md-push-3
        block profile_content
      .col-md-3.col-md-pull-9
        ul.nav.nav-pills.nav-stacked
          include core_profile_menu_items
