extends base
- load trans from i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Sign up for a Kompassi account" %}
block content
  .core-registration-view
    h2 {% trans "Sign up for a Kompassi account" %}
    p {% trans "Fields marked with an asterisk are mandatory." %}
    form(action='{% url "core_registration_view" %}', method='POST', role='form').form.form-horizontal
      input(type='hidden', name='next', value='{{ next }}')
      - crispy registration_form
      - crispy person_form
      - crispy terms_and_conditions_form
      .col-md-9.col-md-offset-3
        button.btn.btn-success(type='submit')
          i.fa.fa-check.kompassi-icon-space-right
          {% trans "Sign up" %}
        span.text-muted(style='padding-left: 1em') {% trans "Please note that creating an account takes a while. Please press the Sign up button only once." %}
  //- XXX why is this required
  p &nbsp;
