- load trans from i18n
.panel(class="{{ event.panel_css_class }}")
  .panel-heading: strong: a(href='{% url "core_event_view" event.slug %}') {{ event.name }}
  .panel-body
    p {{ event.venue.name }}
    if event.start_time
      p {{ event.formatted_start_and_end_date }}
    p
      if event.cancelled
        span.label.label-danger.kompassi-space-after
          a(href="{{ event.homepage_url }}" target="_blank" rel="noopener noreferrer") {% trans "Cancelled" %}
      else
        if event.enrollment_event_meta
          if event.enrollment_event_meta.is_enrollment_open
            span.label.label-primary.kompassi-space-after: a(href='{% url "enrollment_enroll_view" event.slug %}') {% trans "Enrollment open" %}
          else
            span.label.label-default.kompassi-space-after {% trans "Enrollment" %}
        if event.labour_event_meta
          if event.labour_event_meta.is_registration_open
            span.label.label-primary.kompassi-space-after: a(href='{% url "labour:signup_view" event.slug %}') {% trans "Recruiting volunteers" %}
          else
            span.label.label-default.kompassi-space-after {% trans "Volunteers" %}

        if event.program_v2_event_meta
          if event.program_v2_event_meta.guide_v2_embedded_url
            span.label.label-primary.kompassi-space-after: a(href='{{ event.program_v2_event_meta.guide_v2_embedded_url }}')  {% trans "Schedule published" %}…
          else
            span.label.label-default.kompassi-space-after {% trans "Schedule" %}

        if event.tickets_v2_event_meta
          if event.tickets_v2_event_meta.have_available_products
            span.label.label-primary.kompassi-space-after: a(href='{{ event.tickets_v2_event_meta.tickets_url }}') {% trans "Selling tickets" %}
          else
            span.label.label-default.kompassi-space-after {% trans "Ticket sales" %}
        elif event.tickets_event_meta
          if event.tickets_event_meta.is_ticket_sales_open
            span.label.label-primary.kompassi-space-after: a(href='{% url "tickets_view" event.slug %}') {% trans "Selling tickets" %}
          else
            span.label.label-default.kompassi-space-after {% trans "Ticket sales" %}
