extends core_profile_base
- load crispy_forms_tags
- load trans from i18n
block title
  | Omat tiedot
block profile_content
  h3 Omat tiedot
  form(method='POST').form-horizontal
    fieldset
      .form-group
        label.control-label.col-md-3 Käyttäjänimi
        .controls.col-md-9
          label.control-label(style='font-weight: normal; font-style: italic') {{ request.user.username }}
          p.help-block Voit kirjautua sisään myös sähköposti&shy;osoitteella käyttäjänimen asemesta. Huomaathan, että käyttäjänimi on erillinen nick- eli kutsumanimikentästä. Käyttäjänimi ei näy mihinkään ulkoisesti. Käyttäjänimeä ei voi tällä hetkellä vaihtaa.
      if request.user.person.desuprofile_connection
        - with request.user.person.desuprofile_connection as connection
          .form-group
            label.control-label.col-md-3 Desuprofiili
            .controls.col-md-9
              if connection.desuprofile_username
                label.control-label(style='font-weight: normal; font-style: italic') {{ connection.desuprofile_username }}
              else
                p(style='font-weight: normal; font-style: italic') Desuprofiilin käyttäjänimi puuttuu. Se tallennetaan, kun seuraavan kerran kirjaudut sisään Desuprofiilillasi.
              p.help-block Olet yhdistänyt Desuprofiilisi Kompassi-tunnukseen. Mikäli haluat irrottaa Desuprofiilisi Kompassi-tunnuksestasi, ota yhteyttä ylläpitoon.

    - crispy form
    .col-md-9.col-md-offset-3
      button.btn.btn-success(type='submit')
        i.fa.fa-check.kompassi-icon-space-right
        {% trans "Save changes" %}

    //- XXX todo why is this needed
    p &nbsp;
