extends base.pug
- load crispy_forms_tags
- load i18n
block title
  | {% trans "Enroll" %}
block content
  h2
    span.kompassi-space-after {{ event.name }}
    small.text-muted {{ event.headline }}

  .panel.panel-default
    .panel-heading: strong Osallistujalista
    table.table.table-striped
      thead
        tr
          th {% trans "Surname" %}
          th {% trans "First name" %}
          th {% trans "Nick" %}

          //- TODO Concon specific
          th Tapahtumat
      tbody
        for enrollment in enrollments
          tr
            td {{ enrollment.person.with_privacy.surname }}
            td {{ enrollment.person.with_privacy.first_name }}
            td {{ enrollment.person.with_privacy.nick}}
            td {{ enrollment.concon_event_affiliation }}

    .panel-footer.clearfix
      .text-muted Näytetään {{ num_enrollments }} henkilö{{ num_enrollments|pluralize:"ä"}}, jotka antoivat luvan nimensä julkistamiseen (yhteensä {{ num_total_enrollments }}).
