- load crispy from crispy_forms_tags
.tab-pane#labour-admin-signup-person-tab
  .panel.panel-default
    .panel-heading
      .pull-right.text-muted Nämä tiedot ovat vain henkilön itsensä muokattavissa.
      strong Hakijan tiedot
    .panel-body.labour-signup-form
      - crispy person_form

  .panel.panel-default
    .panel-heading: strong Hakijan pätevyydet
    ul.list-group
    if signup.person.qualifications.exists
      for pq in signup.person.qualifications.all
        li.list-group-item
          | {{ pq.qualification }}
          if pq.qualification_extra
            span.pull-right.text-muted {{ pq.qualification_extra }}
    else
      .panel-body Ei pätevyyksiä.
