- load crispy from crispy_forms_tags
- load i18n
- load skeletonfmt from skeletor_tags
.tab-pane(role='tabpanel')#labour-admin-signup-shifts-tab
  .panel.panel-default
    .panel-heading
      strong
        - trans "Shifts"
    table.table.table-striped
      thead
        tr
          th
            - trans "Starting time"
          th
            - trans "Ending time"
          th
            - trans "Duration"
          th
            - trans "Job category"
          th
            - trans "Job"
          th
      tbody
        for shift in signup.shifts.all
          tr
            td {{ shift.start_time|skeletonfmt:"MEd" }} klo {{ shift.start_time|skeletonfmt:"Hm" }}
            td {{ shift.end_time|skeletonfmt:"MEd" }} klo {{ shift.end_time|skeletonfmt:"Hm" }}
            td {{ shift.formatted_duration }}
            td {{ shift.job.job_category }}
            td {{ shift.job }}
            td
              .btn-group
                //- a.btn.btn-xs.btn-danger(title="{% trans 'Delete' %}")
                //-   i.fa.fa-trash
                a.btn.btn-xs.btn-primary(title="{% trans 'Edit' %}", href="{% url 'labour:admin_roster_job_category_view' event.slug shift.job.job_category.slug %}")
                  i.fa.fa-pencil-square-o
          if shift.notes
            tr
              td(colspan=6) {{ shift.notes|linebreaks }}
    .panel-footer
      if signup.shifts.exists
        .text-muted {% blocktrans with total_hours=total_hours count num_shifts=signup.shifts.count %}One shift, {{ total_hours}} h.{% plural %}{{ num_shifts}} shifts, total {{ total_hours}} h.{% endblocktrans %}
      else
        .text-muted {% trans "No shifts." %}

  .panel.panel-default
    .panel-heading
      strong
        - trans "Override working hours for benefits calculation"
    .panel-body
        - crispy override_working_hours_form
    .panel-footer.clearfix
      include labour_admin_signup_views/actions
