h3 Yhdistyksen jäsenyys

if membership
  if membership.is_pending_approval
    h4 Jäsenhakemuksesi odottaa hyväksyntää.
  if membership.is_in_effect
    h4 Olet tämän yhdistyksen jäsen.
  if membership.is_discharged
    h4 Sinut on erotettu tästä yhdistyksestä.
    p Yleensä tämä johtuu maksamattomasta jäsenmaksusta. Saattaaksesi jäsenyytesi takaisin voimaan ota yhteyttä yhdistyksen hallitukseen.
  if membership.is_declined
    h4 Jäsenhakemuksesi on hylätty.
    p Lisätietoja saat yhdistyksen hallitukselta.
else
  if can_apply
    h4 Voit hakea tämän yhdistyksen jäsenyyttä.
    a.btn.btn-primary(href='{% url "membership_apply_view" organization.slug %}') Hae jäsenyyttä
  else
    h4 Tämä yhdistys ei tällä hetkellä ota vastaan jäsenhakemuksia Kompassin kautta.

if is_membership_admin
  h4 Sinulla on jäsenrekisterin ylläpito-oikeudet
  a.btn.btn-primary(href='{% url "membership_admin_members_view" organization.slug %}') Siirry jäsenrekisterin ylläpitonäkymään
