doctype html
html
  head
    title {{ title|safe }} | {{ settings.KOMPASSI_INSTALLATION_NAME }}
  body
    header
      h1 {{ title|safe }}
      p Tulostettu {{ now }}.
    article(style='font-size: 10pt')
      for membership in memberships
        div(style='display: inline-block; width: 24em') {{ membership.to_html_print|safe }}
          if not filter_active
            |  ({{ membership.get_state_display }})
    footer
      p {{ memberships.count }} hlö
