extends base.pug
- load crispy_forms_tags
block title
  {{ organization.name }}: Hae jäsenyyttä
block content
  h2 {{ organization.name }} – Hae jäsenyyttä

  {{ organization.description|linebreaks }}

  h3 Kuka voi hakea?

  {{ meta.membership_requirements|linebreaks }}

  h3 Jäsenmaksu

  if current_term
    .row
      .control-group
        label.control-label.col-md-2 Liittymismaksu
        .col-md-10= current_term.formatted_entrance_fee

    .row
      .control-group
        label.control-label.col-md-2 Jäsenmaksu
        .col-md-10= current_term.formatted_membership_fee

    .row
      .control-group
        label.control-label.col-md-2 Maksutapa
        .col-md-10
          p {{ current_term.display_payment_method }}
  else
    p.text-danger Nykyisen toimikauden tiedot puuttuvat.

  p &nbsp;

  form(method='POST')
    {% csrf_token %}

    .panel.panel-default
      .panel-heading: strong Jäsenhakemus
      .panel-body
        .row
          .control-group
            label.control-label.col-md-2 Sukunimi
            .col-md-10
              if request.user.person.surname
                |{{ request.user.person.surname }}
              else
                .label.label-danger Sukunimi puuttuu
        .row
          .control-group
            label.control-label.col-md-2 Viralliset etunimet
            .col-md-10
              if request.user.person.official_first_names
                |{{ request.user.person.official_first_names }}
              else
                .label.label-danger Etunimet puuttuvat

        .row
          .control-group
            label.control-label.col-md-2 Kotikunta
            .col-md-10
              if request.user.person.muncipality
                |{{ request.user.person.muncipality }}
              else
                .label.label-danger Kotikunta puuttuu

        .row
          .control-group
            label.control-label.col-md-2 Sähköpostiosoite
            .col-md-10
              if request.user.person.email
                |{{ request.user.person.email }}
              else
                .label.label-danger Sähköpostiosoite puuttuu

        .help-block Mikäli henkilötiedoissa on virheitä, korjaa tiedot <a href='{% url "core_profile_view" %}'>profiiliisi</a>.

        if can_apply
          {% crispy form %}

      .panel-footer.clearfix
        if can_apply
          .btn-group.pull-right
              button(type='submit').btn.btn-success
                i.fa.fa-check.kompassi-inline-icon
                | Hae jäsenyyttä
          p.text-muted Hyväksyn yhdistyksen tarkoituksen ja säännöt ja haen yhdistyksen jäsenyyttä. Vakuutan täyttäväni yhdistyksen sääntöjen mukaiset jäsenyyden ehdot ja hyväksyn henkilötietojeni tallentamisen yhdistyksen jäsenrekisteriin <a href='{{ settings.KOMPASSI_PRIVACY_POLICY_URL }}' target='_blank'>{{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} rekisteriselosteen</a> mukaisesti.
        else
          if mandatory_information_missing
            .btn-group.pull-right
              a.btn.btn-primary(href="{% url 'core_profile_view' %}", target="_blank", rel="noreferrer noopener") Täydennä tiedot profiiliin
            p.text-danger Ennen kuin voit hakea yhdistyksen jäsenyyttä, sinun täytyy päivittää täydentää profiilistasi puuttuvat tiedot.

          if already_member
            p.text-danger Olet jo tämän yhdistyksen jäsen, tai jäsenyytesi on käsiteltävänä.
          if not_receiving_applications
            p.text-danger Tämä tapahtuma ei tällä hetkellä ota vastaan hakemuksia {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} kautta.
