doctype 5
html
  head
    title {{ EVENT_NAME }}: Ohjelmakartta
    link(rel='stylesheet', href='{{ STATIC_URL }}bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}frontend.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}tracon_categories.css')
  body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          .navbar-brand {{ EVENT_NAME }}
          ul.nav.navbar-nav
            li: a(href='{{ EVENT_URL }}') Takaisin {{ EVENT_NAME_GENITIVE }} sivuille

    .container.content
      block content

    footer
      .container
        p.muted.credit
          | {{ EVENT_NAME_GENITIVE }} järjestää 
          a(href="http://ry.tracon.fi") Tracon ry
          | . Ohjelmakarttatyökalu &copy; 2013 Jussi Sorjonen ja Santtu Pajukanta. 

    script(src='{{ STATIC_URL }}jquery-1.10.2.min.js')
    script(src='{{ STATIC_URL }}bootstrap/bootstrap.min.js')
    script(src='{{ STATIC_URL }}timetable.js')