thead
  tr.roster-timeline
    td.kompassi-freeze-first-column
      div: strong Teht채v채alue
      div(data-bind="if: $root.activeView() == 'JobCategory'") Teht채v채

    // ko foreach: $root.config.workHours
    th
      div(data-bind="text: moment.format('ddd')")
      div(data-bind="text: moment.format('HH')")
    // /ko
