// ko if: $root.activeView() == 'JobCategory'
// ko with: jobCategory
tbody
  tr(data-bind='with: jobCategory')
    th
      div
        span(data-bind='text: title')
        | &nbsp;
        small: a(data-bind='attr: {href: $root.config.urls.base}') Takaisin
    // ko foreach: requirementCells
    th(data-bind="css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
  // ko foreach: jobCategory().jobs
  tr
    td
      a(href='')
        span(data-bind='text: title')
        i.fa.fa-pencil-square-o.kompassi-icon-space-left

    // ko foreach: requirementCells
    td.roster-editable(data-bind="click: prompt,
                                  css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
  // /ko
  tr
    td
      a(href='')
        i.fa.fa-plus.kompassi-icon-space-right
        span Lis채채 teht채v채
// /ko
// /ko
