// ko if: $root.activeView() == 'JobCategory'
// ko with: jobCategory
tbody
  tr(data-bind='with: jobCategory')
    th
      div
        span(data-bind='text: title')
        | &nbsp;
        small: a(data-bind='attr: {href: $root.config.urls.base}') Takaisin
    // ko foreach: $root.config.workHours
    th.text-muted 0/0
    // /ko
  // ko foreach: jobCategory().jobs
  tr
    td
      div(data-bind='text: title')
    // ko foreach: $root.config.workHours
    td.text-muted.roster-editable(data-bind='click: $root.jobRequirementModal.show') 0/0
    // /ko
  // /ko
// /ko
// /ko
