.modal.fade#labour-admin-roster-job-category-editor(tabindex="-1",
                                                    role="dialog",
                                                    aria-labelledby="labour-admin-roster-job-category-editor-title",
                                                    data-bind="with: jobCategory.editor")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        a.close(href="", data-bind="attr: {href: masterJobCategory().urls.detail}", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Muokkaa tehtäväaluetta
      .modal-body
      .modal-footer
