// ko if: $root.activeView() == 'JobCategory'
// ko with: jobCategory
thead
  tr(data-bind='with: jobCategory')
    th.kompassi-freeze-first-column
      div
        span(data-bind='text: title')
        | &nbsp;
        small: a(data-bind='attr: {href: $root.config.urls.base}') Takaisin
    // ko foreach: requirementCells
    th(data-bind="css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
tbody
  // ko foreach: jobCategory().jobs
  tr
    td.kompassi-freeze-first-column
      a(href='', data-bind="click: function() { $parent.editJob($data) }")
        span(data-bind='text: title')
        i.fa.fa-pencil-square-o.kompassi-icon-space-left

    // ko foreach: requirementCells
    td.roster-editable(data-bind="click: edit,
                                  css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
  // ko foreach: lanes
  tr
    td.kompassi-freeze-first-column
    // ko foreach: cells
    td(data-bind="attr: {colspan: hours}")
    // /ko
  // /ko
  // /ko
  tr
    td.kompassi-freeze-first-column
      a(href='', data-bind="click: createJob")
        i.fa.fa-plus.kompassi-icon-space-right
        span Lis채채 teht채v채
// /ko
// /ko
