.roster-not-found(data-bind="visible: $root.activeView() === 'NotFound'")
  .container.kompassi-space-above
    .alert.alert-danger(role="alert") Alasivua ei löydy. <a data-bind="attr: { href: $root.config.urls.base }">Työvuorotyökalun etusivulle...</a>
