// ko if: $root.activeView() == 'Overview'
// ko with: overview
tbody(data-bind="foreach: jobCategories")
  tr(data-bind='attr: { id: "jobcategory-" + slug }')
    th: a(data-bind='text: title, attr: {href: urls.detail}')
    // ko foreach: requirementCells
    th(data-bind="css: css($data)")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
// /ko
// /ko
