include labour_admin_roster_views/NoScript.jade

.hidden(data-bind="css: {hidden: false}")
  include labour_admin_roster_views/NotFound.jade

  .kompassi-frozen-table-container
    table.table.table-striped.table-bordered
      include labour_admin_roster_views/Header.jade

      include labour_admin_roster_views/Overview.jade
      include labour_admin_roster_views/JobCategory.jade

  include labour_admin_roster_views/JobModal.jade
  include labour_admin_roster_views/RequirementModal.jade
  include labour_admin_roster_views/ShiftModal.jade
