div
  include admin_roster_views/NoScript
  include admin_roster_views/TooSmall

  .hidden(data-bind="css: {hidden: false}")
    include admin_roster_views/NotFound

    .kompassi-frozen-table-container
      table.table.table-striped.table-bordered
        include admin_roster_views/Header

        include admin_roster_views/Overview
        include admin_roster_views/JobCategory

    include admin_roster_views/JobModal
    include admin_roster_views/RequirementModal
    include admin_roster_views/ShiftModal
