doctype html
- load static from static
html
  head
    title {{ title|safe }} | {{ settings.KOMPASSI_INSTALLATION_NAME }}
    link(rel='stylesheet', href='{% static "badges/css/print.css" %}')
  body
    header
      h1 {{ title|safe }}
      p Tulostettu {{ now }}. <strong>Boldatut</strong> tiedot näkyvät badgessa.
    article(style='font-size: 10pt')
      for badge in badges
        div(style='display: inline-block; width: 24em') {{ badge.to_html_print|safe }}
          if not active_filter
            |  ({{ badge.personnel_class.name }})
    footer
      p {{ badges.count }} hlö
