extends core_admin_base.jade
block title
  | Nimilista
block admin_content
  .panel.panel-default
    .panel-heading: strong Nimilista
    .panel-body
      p.text-muted Suodata tyypin mukaan:
      for filter_active, personnel_class in filters
        if filter_active
          a.label.label-primary.kompassi-space-after(href='{% url "badges_admin_badges_view" event.slug %}') {{ personnel_class.name }}
        else
          a.label.label-default.kompassi-space-after(href='{% url "badges_admin_filtered_view" event.slug personnel_class.slug %}') {{ personnel_class.name }}
    table.table.table-striped
      thead
        if not active_filter
          th Badgetyyppi
        th Sukunimi
        th Etunimi
        th Nick
        if active_filter
          th Tehtävänimike
        th Tila
        th
      tbody
        for badge in badges
          tr
            if not active_filter
              td {{ badge.personnel_class.name }}

            for value, is_visible in badge.get_name_fields
              if is_visible
                td {{ value }}
              else
                td.text-muted {{ value }}

            if active_filter
              td {{ badge.job_title }}

            td
              if badge.is_revoked
                span.label.label-danger Mitätöity
              else
                if badge.is_printed
                  if badge.batch
                    span.label.label-success(title='Tulostettu {{ badge.batch.printed_at }}') Erä {{ badge.batch.pk }}
                  else
                    span.label.label-success(title='Tulostettu {{ badge.printed_separately_at }}') Erikseen
                else
                  if badge.batch
                    span.label.label-primary Erä {{ badge.batch.pk }}
                  else
                    span.label.label-default Odottaa

            td
              form(method='POST', role='form')
                {% csrf_token %}
                input(type='hidden', name='badge_id', value='{{ badge.pk }}')
                .btn-group.btn-group-xs
                  if not badge.is_revoked
                    button.btn.btn-danger(type='submit', name='revoke-badge', value='revoke-badge', title='Mitätöi badge') &times;
                    if not badge.is_printed_separately
                      button.btn.btn-success(type='submit', name='mark-printed', value='mark-printed', title='Merkitse erikseen tulostetuksi') P
                    else
                      button.btn.btn-danger(type='submit', name='clear-printed', value='clear-printed', title='Nollaa erikseen tulostettu -merkintä') !P
                  else
                    button.btn.btn-primary(type='submit', name='clear-revoked', value='clear-revoked', title='Peru mitätöinti') !

    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-success(href='{{ request.path }}/new') Lisää henkilö
        a.btn.btn-default(href='?format=print', target='_blank') Tulostettava versio
        button.btn.btn-default(type='button', data-toggle='dropdown') Vie <span class='caret'></span>
        ul.dropdown-menu(role='menu')
          li: a.btn.btn-link(href='?format=xlsx') XLSX
          li: a.btn.btn-link(href='?format=csv') CSV
          li: a.btn.btn-link(href='?format=tsv') TSV
      p.text-muted: {{ badges.count }} badgea.
