extends core_admin_base.jade
- load crispy_forms_tags
block admin_content
  .panel.panel-warning
    .panel-heading: strong Huomautus!
    .panel-body: p
      | Tämä lomake on tarkoitettu henkilön lisäämiseen nimi- ja badgelistoihin käsin automaattisen menettelyn ohi.
      | Traconissa työvoiman ja ohjelman badget on tarkoitus hoitaa ensisijaisesti automaattisella menettelyllä
      | ja vain erikoistapauksissa tällä lomakkeella. Muut badget, kuten media- ja vierasbadget, syötetään tällä lomakkeella.
  form(method='POST')
    .panel.panel-default
      .panel-heading: strong Lisää henkilö
      .panel-body
        //- - crispy badge_type_form
        //- - crispy person_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-danger(href='{% url "badges_admin_badges_view" event.slug %}') Hylkää muutokset ja palaa nimilistaan
          input.btn.btn-success(type='submit', name='submit', value='Lisää badge')
