doctype html
html
  head
    title {{ title|safe }} | {{ settings.KOMPASSI_INSTALLATION_NAME }}
  body
    header
      h1 {{ title|safe }}
      p Tulostettu {{ now }}. <strong>Boldatut</strong> tiedot näkyvät badgessa.
      p <strong>Lue yoinkkaus&shy;listan ohjeet huolellisesti ja noudata niitä.</strong>
      ol
        li Yoinkkauslista on lista sellaisista badgeista, jotka on mitätöity tulostamisen jälkeen, ja ne tulee poistaa jaosta.
        li Se, että henkilön nimi on yoinkkauslistalla, ei vielä yksin tarkoita, että hän ei olisi tervetullut tapahtumaan tai että hän ei saisi badgea. Se tarkoittaa ainoastaan sitä, että jokin hänelle nimikoitu badge on ollut tavalla tai toisella virheellinen ja määrätty siksi poistettavaksi. Mikäli hänen nimensä löytyy muista nimilistoista, hänelle tulisi yhä olla voimassaoleva badge.
        li Yoinkkauslistaa ei tarvitse tarkistaa jokaisen saapujan kohdalla, vaan yoinkkauslistalla olevat badget tulee poistaa jaosta kerralla ennen badgejaon aloittamista.
        li Jokaista yoinkkauslistan riviä kohden poistetaan yksi badge, jossa on täsmälleen ne tiedot jotka yoinkkauslistan rivillä lukee. Kiinnitä huomiota siihen, mitkä tiedot näkyvät badgessa (<strong>boldatut</strong>).
        li Ota yoinkkauslistalla olevat badget syrjään – <strong>älä hävitä niitä</strong>.
        li Otettuasi badgen syrjään yliviivaa se yoinkkauslistalta.
        li Lähtökohtaisesti henkilöt, jotka ovat yoinkkauslistalla (eivätkä muilla nimilistoilla), eivät ole saapumassa tapahtumaan. Mikäli paikalle kuitenkin saapuu badgeaan vaatimaan henkilö, joka on yoinkkauslistalla, <strong>ja hänen nimeään ei löydy muualta kuin yoinkkauslistalta</strong>, kutsu paikalle kyseisen osa-alueen vastaava:
          table
            thead
              th Jos henkilö väittää olevansa...
              th Kutsu silloin...
            tbody
              tr
                th coniitti
                td pääjärjestäjä
              tr
                th työvoimaa, vuorovastaava
                td työvoimavastaava
              tr
                th ohjelmanjärjestäjä, miitinvetäjä, esiintyjä
                td ohjelmavastaava
              tr
                th toimittaja
                td viestintävastaava
              tr
                th myyjä
                td sponsorivastaava
              tr
                th kävijä
                td lipunmyyntivastaava


    article(style='font-size: 10pt')
      for personnel_class, badges in badges_by_personnel_class
        h3 {{ personnel_class.name }}
        for badge in badges
          div(style='display: inline-block; width: 24em') {{ badge.to_html_print|safe }}
            if badge.job_title
              | (<strong>{{ badge.job_title }}</strong>)
