for label_class, label_text, label_title in signup.job_category_accepted_labels
  if label_title
    span.label(class='{{ label_class }}', title='{{ label_title }}') {{ label_text }}
  else
    span.label(class='{{ label_class }}') {{ label_text }}
  | &#x20;
