extends core_admin_base.pug
- load trans from i18n
- load crispy from crispy_forms_tags
block admin_content
  form(method='POST', role='form').form-horizontal
    //- To catch enter presses
    button.hidden(type='submit', name='action', value='save-return') {% trans "Save and return" %}

    .panel.panel-default
      .panel-heading
        if job_category.pk
          strong {% trans "Edit job category" %}
        else
          strong {% trans "Add job category" %}
      .panel-body
        - crispy form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "labour:admin_jobcategories_view" event.slug %}')
            i.fa.fa-undo.kompassi-icon-space-right
            {% trans "Abandon changes and return" %}
          if job_category.show_remove_button
            if job_category.can_remove
              button.btn.btn-danger(type='submit', name='action', value='remove')
                i.fa.fa-trash.kompassi-icon-space-right
                {% trans "Remove job category" %}
            else
              button.btn.btn-danger(type='button', disabled, title='{% trans "This job category cannot be removed because applications have already been made to it." %}')
                i.fa.fa-trash.kompassi-icon-space-right
                {% trans "Remove job category" %}
          button.btn.btn-success(type='submit', name='action', value='save-return')
            i.fa.fa-check.kompassi-icon-space-right
            {% trans "Save and return" %}
          button.btn.btn-success(type='submit', name='action', value='save-edit')
            i.fa.fa-check.kompassi-icon-space-right
            {% trans "Save and continue" %}
