.panel.panel-default
  .panel-heading
    include labour_signup_panel_heading
  if signup.is_active
    .panel-body
      p.help-block {{ signup.state_description }}
      .row
        .col-md-3: label Hakemus lähetetty
        .col-md-9: {{ signup.created_at|date:"SHORT_DATETIME_FORMAT" }}
      .row
        .col-md-3: label {{ signup.job_categories_label }}:
        .col-md-9: include labour_profile_job_category_labels
      if signup.info_links.exists
        .row
          .col-md-3: label Työvoimaohjeet:
          .col-md-9
            for link in signup.info_links
              div: a(href='{{ link.url }}', target='_blank') {{ link.title }}
      if signup.potential_privileges.exists
        .row
          .col-md-3: label Käyttöoikeudet:
          .col-md-9
            for privilege in signup.potential_privileges
              div: a(href='{{ privilege.get_absolute_url }}') {{ privilege.title }}
      if signup.granted_privileges.exists
        .row
          .col-md-3: label Myönnetyt käyttöoikeudet:
          .col-md-9
            for granted_privilege in signup.granted_privileges
              div: a(href='{{ granted_privilege.privilege.get_absolute_url }}') {{ granted_privilege.privilege.title }}

    include labour_profile_shifts_table
    include labour_profile_message_table

    if signup.applicant_has_actions
      .panel-footer.clearfix
        p.text-muted Jos haluat perua hakemuksen, ilmoita siitä sähköpostitse: <a href="mailto:{{ signup.event.labour_event_meta.contact_email }}">{{ signup.event.labour_event_meta.contact_email }}</a>.
        .btn-group.pull-right
          //if signup.applicant_can_cancel
          //  a.btn.btn-danger(data-toggle='modal', href='#cancel-{{ signup.pk }}') Peru hakemus
          if signup.applicant_can_edit
            a.btn.btn-primary(href='{% url "labour:signup_view" signup.event.slug %}') Muokkaa hakemusta
          if signup.applicant_can_confirm
            .btn-group
              form(method='post', action='{% url "labour:confirm_view" signup.event.slug %}')
                {% csrf_token %}
                input.btn.btn-success(type='submit', name='confirm', value='Vahvista osallistuminen')


  include labour_profile_signup_cancel_modal
  for message in signup.person_messages
    include labour_profile_message_modal
