- load trans from i18n
h3 Työvoima
if signup
  h4 {% trans "Your application to this event" %}
  include labour_profile_signup_box
else
  if event.laboureventmeta.is_registration_open
    h4 Voit hakea töihin tähän tapahtumaan
    a(href='{% url "labour:signup_view" event.slug %}').btn.btn-primary Hae töihin tapahtumaan
  else
    h4 Työvoimahaku ei ole tällä hetkellä avoinna.

if is_labour_admin
  h4 Sinulla on työvoima&shy;vastaavan oikeudet tähän tapahtumaan
  p: a(href='{% url "labour:admin_dashboard_view" event.slug %}').btn.btn-primary Siirry ylläpitäjän näkymään

hr
