extends core_admin_base
block title
  | Tekstiviestit
block admin_content
  h2 Vastaanotetut viestit
  .row
    .col-md-12
      .panel.panel-default
        table.table.table-striped
          thead
            th Lähettäjä
            th Viesti
            th Vastaanotettu
          tbody
            for message in received_messages
              tr
                td {{ message.message.sender }}
                td {{ message.message.message }}
                td {{ message.message.receive_timestamp|date:"d.m.Y G:i:s" }}
