*.mo
*.pot
*.pyc
*.sqlite3
/static/
build/
nohup.out
pip-log.txt
virtualenv/
.bundle/
tmp/
.sublime-*
node_modules/
*.sql.xz
.idea/
/venv*
rev-manifest.json
labour/static/labour/css/roster-*.css
labour/static/labour/js/roster-*.js
