git+https://github.com/kcsry/lippukala.git
git+https://github.com/kcsry/paikkala.git
Babel
black
bleach
celery
Django
django_csp
django-bootstrap3
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-ipware
django-localflavor
django-localized-fields
django-oauth-toolkit
django-postgres-extra
django-redis
djangorestframework
drf-nested-routers
flake8
gunicorn
ipdb
ipython
isort
jsonschema
paramiko
passlib
phonenumberslite
Pillow
# TODO(django 3): remove <2.9 ("AssertionError: database connection isn't set to UTC")
psycopg2<2.9
pypugjs
pytest-django
python-dateutil
python-memcached
PyYAML
regex
reportlab
requests
requests-oauthlib
sentry-sdk
unicodecsv
vobject
XlsxWriter
zxcvbn
