git+https://github.com/kcsry/lippukala.git
git+https://github.com/kcsry/paikkala.git
Babel
black
bleach
boto3
celery
Django
django_csp
django-bootstrap3
django-cors-headers
django-crispy-forms<2
django-environ
django-filter
django-ipware
django-localflavor
django-localized-fields
django-oauth-toolkit
django-postgres-extra
django-redis
django-storages
djangorestframework
drf-nested-routers
flake8
gunicorn
ipdb
ipython
isort
jsonschema
markdown
paramiko
passlib
phonenumberslite
Pillow
psycopg
pypugjs
pytest-django
python-dateutil
python-memcached
PyYAML
regex
reportlab
requests
requests-oauthlib
sentry-sdk
unicodecsv
vobject
XlsxWriter
zxcvbn
