Celery==3.1.15
requests-kerberos==0.5
django-auth-ldap==1.2.1
behave==1.2.4
ipython==2.2.0
ipdb==0.8
reportlab==3.1.8
pillow==2.5.3
-e git+https://github.com/kcsry/lippukala#egg=lippukala
Django==1.7
django-localflavor==1.1
pyjade==3.0.0
python-dateutil==2.2
python-memcached==1.53
django-crispy-forms==1.4.0
requests==2.4.1
django-ipware==0.0.8
XlsxWriter==0.5.7
unicodecsv==0.9.4
psycopg2cffi==2.6.1
gunicorn==19.1.1
