git+https://github.com/kcsry/lippukala.git@v1.2.1#egg=lippukala==1.2.1
git+https://github.com/tracon/paikkala.git@feature/zone-ordering#egg=paikkala==0.0
Babel
bleach
celery
Django
django_csp
django-babel
django-bootstrap3
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-guardian
django-ipware
django-localflavor
django-oauth-toolkit
djangorestframework
drf-nested-routers
flake8
gunicorn
ipdb
ipython
isort
jsonschema
paramiko
passlib
phonenumberslite
pika
Pillow
psycopg2
pypugjs
python-dateutil
python-memcached
PyYAML
regex
reportlab
requests
requests-oauthlib
unicodecsv
vobject
XlsxWriter
zxcvbn
