.row
  .col-md-8
    h1 Tervetuloa {{ KOMPASSI_INSTALLATION_NAME_ILLATIVE }}!
    p {{ KOMPASSI_INSTALLATION_NAME }} on tapahtumanhallintajärjestelmä, joka tarjoaa <a href='http://tracon.fi' target='_blank'>Traconille</a>, <a href='https://desucon.fi' target='_blank'>Desuconille</a> sekä useille muille tapahtumille työkalut vapaaehtoistyövoiman, ohjelmanumeroiden sekä lipunmyynnin hallintaan.
    p Jos olet talkootyöntekijä tai ohjelmanjärjestäjä, {{ KOMPASSI_INSTALLATION_NAME_GENITIVE }} palvelut ovat käytettävissäsi {{ KOMPASSI_ACCOUNT_BRANDING_ADESSIVE }}. <a href='{% url "core_login_view" %}'>Luo tunnus tai kirjaudu sisään!</a>
    p {{ KOMPASSI_INSTALLATION_NAME_GENITIVE }} palvelut ovat halutessasi myös maksutta oman tapahtumasi hyödynnettävissä. {{ KOMPASSI_APPLICATION_NAME }} on <a href="https://github.com/japsu/kompassi" target="_blank" title="GitHub">avoimen lähdekoodin sovellus</a>, jonka voit asentaa omalle palvelimellesi. Tracon tarjoaa myös <em>kompassi.eu</em>-sivuston palveluita muiden tapahtumien käyttöön ns. "pilvipalveluna".
    p Mikäli {{ KOMPASSI_APPLICATION_NAME }} omalle tapahtumallesi kiinnostaa, ota yhteyttä Santtu "Japsu" Pajukantaan sähköpostitse osoitteella <em>japsu&nbsp;ät&nbsp;tracon.fi</em>.
  .col-md-4.hidden-sm.hidden-xs
    img(src='{{ STATIC_URL }}kompassi.svg', type='image/svg+xml', width='100%')
