extends core_profile_base
- load trans from i18n
block title
  | {% trans "Programmes" %}
block profile_content
  .alert.alert-info
    h4 {% trans "Starting Summer 2025, you can manage your program items and program offers in Kompassi v2." %}
    p: a.btn.btn-primary(href=program_v2_profile_link, target="_blank", rel="noopener noreferrer") {% trans "Go to Kompassi v2 program page" %}…
  if future_programmes.exists
    h3 {% trans "Future programmes" %}
    for programme in future_programmes
      include programme_profile_box
  if past_programmes.exists
    h3 {% trans "Past programmes" %}
    for programme in past_programmes
      include programme_profile_box
  if rejected_programmes.exists
    h3 {% trans "Cancelled and rejected programmes" %}
    for programme in rejected_programmes
      include programme_profile_box
  if no_programmes
    h3 {% trans "No programmes" %}
    p {% trans "You have not organized any programme in events that use this site." %}
