extends base.pug
block content
  include programme_schedule_admin_public_warning
  include programme_schedule_tabs
  .descriptions
    h2 Ohjelmakartan ulkopuolinen ohjelma

    if show_programme_actions
      .panel.panel-default
        .panel-heading: strong Suodata ohjelmaa
        .panel-body
          include programme_list_filters

    include programme_list
