- load i18n
h3 {% trans "Programme" %}

if event.programme_event_meta.is_public
  h4 {% trans "The programme schedule for this event has been published" %}

  p: a(href='{% url "programme:schedule_view" event.slug %}').btn.btn-primary {% trans "View programme schedule" %}
else
  h4 {% trans "The programme schedule for this event has not yet been published" %}

if event.programme_event_meta.is_accepting_cold_offers
  h4 {% trans "The event is accepting programme offers" %}

  p: a.btn.btn-primary(href='{% url "programme:offer_view" event.slug %}') {% trans "Offer programme" %}

if event.programme_event_meta.has_open_reservations
  h4 {% trans "The event has programme with reservations open" %}

  p: a.btn.btn-primary(href='{% url "programme:profile_reservations_view" %}') {% trans "Go to reservations" %}

if is_programme_admin
  h4 {% trans "You have programme admin privileges for this event" %}

  p: a(href='{% url "programme:admin_view" event.slug %}').btn.btn-primary {% trans "Go to programme admin" %}
