extends base
- load i18n
block title
  | Ohjelmanhallinta
block content_full_width
  .container
    include core_messages

    .nav.nav-tabs
      include core_admin_menu_items

    .panel.panel-default
      .panel-heading: strong {% trans "Programme feedback" %}
      table.table.table-striped
        thead
          tr
            th {% trans "Programme" %}
            th {% trans "Author" %}
            th {% trans "Timestamp" %}
            th {% trans "Feedback" %}
        tbody
          for feedback_message in feedback
            tr
              td
                a(href='{% url "programme:admin_detail_view" event.slug feedback_message.programme.pk %}')= feedback_message.programme.title
              td
                if feedback_message.is_really_anonymous
                  em.text-muted {% trans "Anonymous" %}
                else
                  a(href='mailto:{{ feedback_message.author_email }}')= feedback_message.author
              td {{ feedback_message.created_at|date:"SHORT_DATETIME_FORMAT" }}
              td {{ feedback_message.feedback|linebreaks }}
      .panel-footer
        if feedback.exists
          .text-muted {% blocktrans count num_feedback_messages=feedback.count %}One feedback message.{% plural %}{{ num_feedback_messages }} feedback messages.{% endblocktrans %}
        else
          .text-muted {% trans "No feedback." %}
        //- .text-muted {% blocktrans count num_max_feedback_messages=num_max_feedback_messages %}Showing max {{ num_max_feedback_messages }} feedback messages. For older feedback, see the feedback tab of each programme.{% endblocktrans %}
