extends base
- load trans from i18n
block title
  | Ohjelmanhallinta
block content_full_width
  .container
    include core_messages

    .nav.nav-tabs
      include core_admin_menu_items

    //-
      .panel.panel-default
        .panel-heading: strong Suodata ohjelmaa
        .panel-body.signup-filters
          .row
            .col-md-3: strong Tyyppi
            .col-md-9
              for cf, active in category_filters
                if active
                  span.label.label-brand.kompassi-space-after
                    a(href='?{{ cf.qs_del }}') {{ cf.name }}
                else
                  span.label.label-default.kompassi-space-after
                    a(href='?{{ cf.qs_add }}') {{ cf.name }}
          .row
            .col-md-3: strong Sali
            .col-md-9
              for rf, active in room_filters
                if active
                  span.label.label-brand.kompassi-space-after
                    a(href='?{{ rf.qs_del }}') {{ rf.name }}
                else
                  span.label.label-default.kompassi-space-after
                    a(href='?{{ rf.qs_add }}') {{ rf.name }}
          .row
            .col-md-3: strong Ohjelmanumeron tila
            .col-md-9
              for sf, active in state_filters
                if active
                  span.label.label-brand.kompassi-space-after
                    a(href='?{{ sf.qs_del }}') {{ sf.name }}
                else
                  span.label.label-default.kompassi-space-after
                    a(href='?{{ sf.qs_add }}') {{ sf.name }}
          hr
          .row
            .col-md-3: strong Luettelojärjestys
            .col-md-9
              for so, active in sorter
                if active
                  span.label.label-brand.kompassi-space-after
                    a(href='?{{ so.qs_add }}') {{ so.name }}
                else
                  span.label.label-default.kompassi-space-after
                    a(href='?{{ so.qs_add }}') {{ so.name }}

    .panel.panel-default
      .panel-heading: strong {% trans "Open invitations" %}
      table.table.table-striped
        thead
          tr
            th {% trans "Programme" %}
            th {% trans "E-mail address" %}
            th {% trans "Role" %}
            th {% trans "Invited at" %}
            th {% trans "Invited by" %}
        tbody
          for invitation in pending_invitations
            tr
              td
                a(href='{% url "programme:admin_detail_view" event.slug invitation.programme.id %}')= invitation.programme
              td= invitation.email
              td= invitation.role
              td {{ invitation.created_at|date }}
              td {{ invitation.created_by.get_full_name }}
      .panel-footer.clearfix
        form(method='POST')
          {% csrf_token %}
          .btn-group.pull-right
            button.btn.btn-danger(type='submit', name='action', value='cancel-all-invitations', disabled="true")
              i.fa.fa-trash.kompassi-icon-space-right
              {% trans "Revoke all open invitations" %}
