extends programme_admin_base
- load crispy_forms_tags
block title
  | Viestin muokkaus
block admin_content
  if message.sent_at
    .panel.panel-danger
      .panel-heading: strong Ankara varoitus!
      .panel-body
        p Tämä viesti on jo lähetetty vastaanottajille. Mikäli muokkaat viestiä, muokkaukset vaikuttavat vain niihin vastaan&shy;ottajiin, joille tämä viesti lähetetään muokkauksen jälkeen.

  form(role='form', method='POST').form-horizontal
    //- Catch enter presses
    button(type='submit', name='action', value='save-edit').sr-only Tallenna ja jatka

    .panel.panel-default
      .panel-heading: strong Viestin muokkaus
      .panel-body
        - crispy form
      .panel-footer.clearfix
        .btn-group.pull-right
          a(href='{% url "programme:admin_mail_view" event.slug %}').btn.btn-default Hylkää muutokset ja palaa
          button(type='submit', name='action', value='save-return').btn.btn-primary Tallenna ja palaa
          button(type='submit', name='action', value='save-edit').btn.btn-primary Tallenna ja jatka

    .panel.panel-default
      .panel-heading: strong Lähetys ja vanhentaminen
      .panel-body
        if message.sent_at
          p.send-status.sent Viesti on lähetetty <em>{{ message.sent_at }}</em>.
          if message.expired_at
            p.expire-status.expired Viesti on merkattu vanhentuneeksi <em>{{ message.expired_at }}</em>.
        else
          p.send-status.not-sent Viestiä ei ole vielä lähetetty.
      .panel-footer.clearfix
        .btn-group.pull-right
          if message.sent_at
            if message.expired_at
              button(type='submit', name='action', value='save-unexpire').btn.btn-primary Ota uudelleen käyttöön
            else
              button(type='submit', name='action', value='save-expire').btn.btn-danger Merkitse vanhentuneeksi
          else
            if message.pk
              button(type='submit', name='action', value='delete').btn.btn-danger Poista luonnos
            button(type='submit', name='action', value='save-send').btn.btn-success Lähetä viesti
        p.text-muted Myös nämä toiminnot tallentavat viestiin tehdyt muutokset.
