doctype html
- load static from static
html
  head
    meta(charset='utf-8')
    title {{ title|safe }} | {{ settings.KOMPASSI_INSTALLATION_NAME }}
    link(rel='stylesheet', href='{% static "kompassi.css" %}')
    link(rel='stylesheet', href='{% static "programme/css/print.css" %}')

  body
    .container
      h1 {{ title|safe }}
      p Tulostettu {{ now }}.

      for start_time, unused, programmes in programmes_by_start_time
        h3 {{ start_time|date:"l H:i"|capfirst }}
        for programme, rowspan in programmes
          .programme(class='{{ programme.css_classes }}', id='p{{ programme.id }}')
            h4
              span.title {{ programme.title }}
              for tag in programme.public_tags
                span.label.kompassi-space-before(class='{{ tag.style }}') {{ tag.title }}
            .programme-info
              .meta
                ul.programme-metadata
                  if programme.room
                    li.room {{ programme.room.name }}
                  if programme.start_time
                    li.times klo {{ programme.start_time|date:"H:i"}}{% if programme.end_time %}&ndash;{{ programme.end_time|date:"H:i"}}{% endif %}
                  if programme.organizers.exists
                    li.host {{ programme.formatted_hosts }}
              .description {{ programme.description|safe|linebreaks }}

      p {{ programmes.count }} ohjelmanumero{{ programmes.count|pluralize:"a" }}
