- load trans from i18n
.programme(class='{{ programme.css_classes }}', id='p{{ programme.id }}')
  h4
    span.title.kompassi-space-after {{ programme.title }}
    for tag in programme.public_tags
      span.label.kompassi-space-after(class='{{ tag.style }}') {{ tag.title }}
  .programme-info
    .meta
      ul.programme-metadata
        if programme.room
          li.room {{ programme.room.name }}
        if programme.start_time
          li.times {{ programme.formatted_times }}
        if programme.formatted_hosts
          li.host {{ programme.formatted_hosts }}
    .description {{ programme.description|safe|linebreaks }}
    if show_programme_actions
      .btn-group.actions
        if programme.is_open_for_feedback
          a.btn.btn-success.btn-xs(href='{{ programme.get_feedback_url }}')
            i.fa.fa-comment.kompassi-icon-space-right
            {% trans "Give feedback" %}
        if programme.video_link
          a.btn.btn-danger.btn-xs(href='{{ programme.video_link }}', target='_blank')
            i.fa.fa-youtube-play.kompassi-icon-space-right
            {% trans "Watch the recording" %}
        if programme.show_signup_link
          a.btn.btn-success.btn-xs(href='{{ programme.signup_link }}', target='_blank')
            i.fa.fa-pencil.kompassi-icon-space-right
            {% trans "Sign up for this programme" %}
        if programme.is_open_for_seat_reservations
          a.btn.btn-success.btn-xs(href='{% url "programme:paikkala_reservation_view" event.slug programme.id %}', target='_blank')
            i.fa.fa-pencil.kompassi-icon-space-right
            {% trans "Reserve seats" %}
