.bundle/
.env
.idea/
.sublime-*
*.mo
*.pot
*.pyc
*.sql*
/static/
/venv*
build/
labour/static/labour/css/roster-*.css
labour/static/labour/js/roster-*.js
node_modules/
nohup.out
pip-log.txt
rev-manifest.json
tmp/
virtualenv/
.DS_Store
media/
*.compiled.yaml
*.local.yaml
*.key
*.crt
.pytest_cache

# google api credentials for solmukohta2024 only, remove when not needed anymore
credentials.json
token.json
