lippukala @ git+https://github.com/kcsry/lippukala@v2.0.0
paikkala @ git+https://github.com/kcsry/paikkala@v0.2.0
aiohttp[speedups]
Babel
bleach
boto3
celery
crispy-bootstrap3
django_csp
django-bootstrap3
django-cors-headers
django-crispy-forms
django-environ
django-ipware
django-localflavor
django-oauth-toolkit
django-redis
django-storages
django-stubs
Django
fastapi[standard-no-fastapi-cloud-cli]
flake8
graphene-django
graphene-pydantic
gunicorn
ics
ipdb
ipython
isort
jinja2
jsonschema
jwskate
markdown
paramiko
passlib
phonenumberslite
Pillow
pre-commit
psycopg[c,pool]
pydantic[email]
pypugjs
pyright
pytest-django
python-dateutil
PyYAML
regex
reportlab
requests
requests-oauthlib
ruff
tabulate
unicodecsv
uvicorn[standard]
vobject
weasyprint
XlsxWriter
zxcvbn
