lippukala @ git+https://github.com/kcsry/lippukala@v2.0.0
paikkala @ git+https://github.com/kcsry/paikkala@v0.2.0
Babel
bleach
boto3
celery
crispy-bootstrap3
django_csp
django-bootstrap3
django-cors-headers
django-crispy-forms
django-environ
django-ipware
django-localflavor
django-oauth-toolkit
django-redis
django-storages
Django>5
flake8
graphene-django
gunicorn
ics
ipdb
ipython
isort
jinja2
jsonschema
markdown
paramiko
passlib
phonenumberslite
Pillow
psycopg[c]
pydantic
pypugjs
pytest-django
python-dateutil
PyYAML
regex
reportlab
requests
requests-oauthlib
ruff
tabulate
unicodecsv
vobject
weasyprint
XlsxWriter
zxcvbn
