- load i18n
- load crispy_forms_tags
- load static from static

.panel-group#kompassi-feedback-widget
  .panel.panel-primary
    .panel-heading(data-toggle='collapse',
                   data-target='#kompassi-feedback-widget-collapse',
                   role='button',
                   aria-expanded='false',
                   aria-controls='kompassi-feedback-widget-collapse')
      strong {% trans "Give feedback about Kompassi" %}
    .panel-collapse.collapse#kompassi-feedback-widget-collapse
      .panel-body
        form(onsubmit='sendKompassiFeedback(event);')#kompassi-feedback-widget-form
          {% crispy feedback_form %}

          .btn-group.pull-right
            button.btn.btn-primary(type='submit')
              i.fa.fa-floppy-o
              | {% trans "Send feedback" %}

          p.help-block
            a(href='{{ settings.FEEDBACK_PRIVACY_POLICY_URL }}', target='_blank') {% trans "Feedback privacy policy…" %}

script(src='{% url "feedback_js_view" %}')
