extend base.pug
block title
  | Kaatajaisilmon yhteenveto
block content
  h2 {{ event.name }} – Kaatajaisilmon yhteenveto

  .panel.panel-default
    .panel-heading Viinakset
    table.table.table-striped
      thead
        tr
          th Juoma
          th Lukumäärä
      tbody
        for poison in poisons
          tr
            td {{ poison.name }}
            td {{ poison.victims }}

  p: a(href="{% url 'tracon2025_afterparty_participants_view' event.slug %}") Lataa osallistujaluettelo (XLSX)
  p: a(href="{% url 'programme:admin_reservation_status_view' event.slug %}") Kaatobussien tiedot ohjelmanhallinnassa
