.panel.panel-default
  .panel-heading
    .pull-right
      .label(class='{{ granted_privilege.state_css }}') {{ granted_privilege.get_state_display }}
    .kompassi-anchor-wrap
      a.kompassi-anchor(id='privilege-{{ granted_privilege.privilege.id }}')
      strong= granted_privilege.privilege.title
  .panel-body
    {{ granted_privilege.privilege.description|safe }}
