- load trans from i18n
.panel.panel-default
  .panel-heading
    .pull-right
      .label(class='{{ granted_privilege.state_css }}') {{ granted_privilege.get_state_display }}
    .kompassi-anchor-wrap
      a.kompassi-anchor(id='privilege-{{ granted_privilege.privilege.id }}')
      strong= granted_privilege.privilege.title
  .panel-body
    {{ granted_privilege.privilege.description|safe }}
  if granted_privilege.is_open_app_link_shown
    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-primary(href="{{ granted_privilege.privilege.url }}", target="_blank", rel="noopener noreferrer")
          i.fa.fa-external-link.kompassi-icon-space-right
          {% trans "Open app" %}…
