extends core_profile_base
block title
  | Käyttöoikeudet
block profile_content
  h3 Tämänhetkiset käyttöoikeudet
  if granted_privileges.exists
    for granted_privilege in granted_privileges
      .panel.panel-default
        .panel-heading
          .pull-right
            .label(class='{{ granted_privilege.state_css }}') {{ granted_privilege.get_state_display }}
          .kompassi-anchor-wrap
            a.kompassi-anchor(id='privilege-{{ granted_privilege.privilege.id }}')
            strong= granted_privilege.privilege.title
        .panel-body
          {{ granted_privilege.privilege.description|safe }}
  else
    p Sinulle ei ole myönnetty käyttö&shy;oikeuksia.

  h3 Mahdolliset käyttöoikeudet
  if potential_privileges.exists
    for privilege in potential_privileges
      .panel.panel-default
        .panel-heading
          .kompassi-anchor-wrap
            a.kompassi-anchor(id='privilege-{{ granted_privilege.privilege.id }}')
            strong= privilege.title
        .panel-body
          {{ privilege.description|safe }}
          {{ privilege.disclaimers|safe }}
        .panel-footer
          if request.user.person.is_email_verified
            form(action='{% url "access_profile_request_privilege_view" privilege.slug %}', method='POST')
              {% csrf_token %}
              input.btn.btn-success(type='submit', value='Pyydä käyttöoikeutta')
          else
            button.btn.disabled(disabled) Pyydä käyttöoikeutta
            strong.text-danger &emsp;Käyttöoikeuden pyytäminen edellyttää <a href='{% url "core_email_verification_request_view" %}'>vahvistettua sähköposti&shy;osoitetta</a>.
  else
    p Et tällä hetkellä voi pyytää mitään käyttö&shy;oikeuksia.
