extends core_profile_base
- load i18n
block title
  | Työvoima&shy;hakemukset
block profile_content
  if signups_current_events.exists
    h3 Työskentely parhaillaan käynnissä olevissa tapahtumissa
    for signup in signups_current_events
      include labour_profile_signup_box
  if signups_future_events.exists
    h3 Hakemukset tuleviin tapahtumiin
    for signup in signups_future_events
      include labour_profile_signup_box
  if signups_past_events
    h3 Työskentelyhistoria
    if person.allow_work_history_sharing
      p.help-block Olet sallinut <a href='{% url "core_profile_view" %}'>profiilissasi</a> työskentelyhistoriasi näyttämisen niille tapahtumille, joihin haet töihin.
    else
      p.help-block Et ole sallinut <a href='{% url "core_profile_view" %}'>profiilissasi</a> koko työskentelyhistoriasi näyttämistä niille tapahtumille, joihin haet töihin. Työvoimavastaava näkee ainoastaan työskentelyhistoriasi saman järjestäjätahon järjestämissa tapahtumissa.

    .panel.panel-default
      table.table.table-striped
        thead
          tr
            th Tapahtuma
            th Ajankohta
            th Tehtävänimike
            th
        tbody
          for signup in signups_past_events
            tr
              td: a(href="{% url 'core_event_view' signup.event.slug %}") {{ signup.event.name }}
              td {{ signup.event.formatted_start_and_end_date }}
              td {{ signup.some_job_title }}
              td
                if signup.has_work_reference
                  a(href="{% url 'labour:profile_work_reference' signup.event.slug %}") {% trans "Work reference" %}

      .panel-footer
        p.text-muted Yhteensä {{ num_signups_past_events }} tapahtuma{{ num_signups_past_events|pluralize:"a" }}.

  if no_signups
    h3 Ei työvoima&shy;hakemuksia
    p Et ole hakenut töihin yhteenkään {{ settings.KOMPASSI_INSTALLATION_NAME_PARTITIVE }} työvoiman&shy;hallintaa käyttävään tapahtumaan.
