thead
  tr
    th Sukunimi
    th Etunimi
    th Nick
    th.hidden-xs Teht채v채nimike
    th.hidden-xs Teht채v채alueet

tbody
  for signup in signups
    tr
      if archive_mode
        td= signup.person.surname
        td= signup.person.first_name
        td= signup.person.nick
      else
        td: a(href='{% url "labour:admin_signup_view" event.slug signup.person.pk %}')= signup.person.surname
        td: a(href='{% url "labour:admin_signup_view" event.slug signup.person.pk %}')= signup.person.first_name
        td: a(href='{% url "labour:admin_signup_view" event.slug signup.person.pk %}')= signup.person.nick
      td.hidden-xs
        if signup.is_accepted
          | {{ signup.some_job_title }}
      td.hidden-xs: include labour_profile_job_category_labels
