if person_qualifications
  h3 Olet ilmoittanut sinulla olevan seuraavat pätevyydet
  ul.list-group
    for person_qualification in person_qualifications
      li.list-group-item
        | {{ person_qualification }}
        .btn-group.btn-group-xs.pull-right
          if person_qualification.qualification.qualification_extra_content_type
            a.btn.btn-primary(href='{% url "labour:person_qualification_view" person_qualification.qualification.slug %}') Muokkaa tietoja...
          a.btn.btn-danger(href='{% url "labour:person_disqualify_view" person_qualification.qualification.slug %}') Poista

if available_qualifications
  h3 Onko sinulla jokin seuraavista pätevyyksistä?
  ul.list-group
    for available_qualification in available_qualifications
      li.list-group-item
        | {{ available_qualification }}
        .btn-group.btn-group-xs.pull-right
          if available_qualification.qualification_extra_content_type
            a.btn.btn-primary(href='{% url "labour:person_qualification_view" available_qualification.slug %}') Ilmoita tiedot...
          else
            a.btn.btn-primary(href='{% url "labour:person_qualify_view" available_qualification.slug %}') Lisää
