extends base
- load static from static
block title
  | Työvoimatarpeet ja työvuorot
block content_full_width
  .nav.nav-tabs
    include core_admin_menu_items

  #labour-admin-roster-view
    include labour_admin_roster_views/Roster
block extra_scripts
  link(rel='stylesheet', href='{% static "labour/css/roster.css" %}')
  script.
    window.kompassiLabourRosterConfig = {{ config_json|safe }};
  script(src='{% static "labour/js/roster.js" %}')
