extends core_admin_base
- load crispy_forms_tags
block title
  | {{ signup.person.full_name }}
block admin_content
  include labour_admin_signup_views/pager
  include labour_admin_signup_views/tabs

  form(method='POST', role='form').form-horizontal
    //- To catch Enter button presses
    input.btn.btn-success.hidden(type='submit', name='save-edit', value='Tallenna ja jatka')

    .tab-content.kompassi-slight-space-above
      include labour_admin_signup_views/state_tab
      include labour_admin_signup_views/person_tab
      include labour_admin_signup_views/application_tab
      include labour_admin_signup_views/messages_tab
      include labour_admin_signup_views/shifts_tab
      include labour_admin_signup_views/history_tab

  for message in signup.person_messages
    include labour_profile_message_modal
  include labour_admin_signup_views/pager

block extra_scripts
  script.
    (function($) {
      // Mute the labels of job category checkboxen for non-applied categories to signal the
      // workforce manager that appointing this worker to this particular category might not be
      // well-welcomed.

      // XXX hack: widget customization is very difficult, so apply styles via JS
      var nonAppliedCategoryNames = {{ non_applied_category_names_json|safe }};
      $.each(nonAppliedCategoryNames, function(index, categoryName) {
        var selector = '.labour-admin-form label.checkbox:contains("' + categoryName + '")';
        $(selector).addClass('text-muted');
      });

      var nonQualifiedCategoryNames = {{ non_qualified_category_names_json|safe }};
      $.each(nonQualifiedCategoryNames, function(index, categoryName) {
        var selector = '.labour-signup-form label.checkbox:contains("' + categoryName + '")';
        $(selector).addClass('text-muted');
      });
    })(jQuery);
