.programme a,
.legend a {
  color: white;
}

.schedule .muu,
.schedule .color1 {
  background-color: #5eb95e;
}

.schedule .rope,
.schedule .color2 {
  background-color: #8058a5;
}

.schedule .anime,
.schedule .color3 {
  background-color: #0e90d2;
}

.schedule .cosplay,
.schedule .color4 {
  background-color: #dd514c;
}

.schedule .miitti,
.schedule .color5 {
  background-color: #f37b1d;
}

.schedule .color6 {
  background-color: #ff50b8;
}

.schedule .color7 {
  background-color: #298da6;
}

.schedule .sisainen {
  background-image: url("/static/stripe.png");
}

.schedule .hilight,
.descriptions .hilight {
  background: url(jean_victor_balin_icon_star_24px.png) no-repeat;
  padding: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: transparent; /* XXX hack */
}

.descriptions .hilight {
  vertical-align: bottom;
}

.descriptions .programme {
  margin: 0px 0px 20px 1px;
  padding-left: 8px;
}

.descriptions .muu,
.descriptions .color1 {
  border-left: 5px solid #5eb95e;
}

.descriptions .rope,
.descriptions .color2 {
  border-left: 5px solid #8058a5;
}

.descriptions .anime,
.descriptions .color3 {
  border-left: 5px solid #0e90d2;
}

.descriptions .cosplay,
.descriptions .color4 {
  border-left: 5px solid #dd514c;
}

.descriptions .miitti,
.descriptions .color5 {
  border-left: 5px solid #f37b1d;
}

.descriptions .sisainen {
  border-left: 5px solid #666;
}

.descriptions .color6 {
  border-left: 5px solid #ff00aa;
}

.descriptions .color7 {
  border-left: 5px solid #f37b1d;
}
