- load trans from i18n
- load crispy from crispy_forms_tags
for change_role_form in change_invitation_role_forms
  .modal.fade(tabindex="-1",
              role="dialog",
              id='programme-admin-change-invitation-role-modal-{{ change_role_form.instance.pk }}')
    .modal-dialog(role="document")
      form(action='{% url "programme_admin_change_invitation_role_view" event.slug change_role_form.instance.programme.pk change_role_form.instance.pk %}' method='POST').modal-content
        .modal-header
          h4 {% trans "Change role of invited host" %}
        .modal-body
          .form-horizontal
            .form-group
              label.control-label.col-md-3 {% trans "E-mail address" %}
              .col-md-9
                .form-control-static= change_role_form.instance.email

            {% crispy change_role_form %}
        .modal-footer.clearfix
          .btn-group
            button.btn.btn-default(type='button', data-dismiss='modal') {% trans "Cancel" %}
            button.btn.btn-success(type='submit', name='action', value='change-invitation-role')
              i.kompassi-icon-space-right.fa.fa-plus
              {% trans "Change role" %}
