- load trans from i18n
- load crispy from crispy_forms_tags
.modal.fade#programme-admin-freeform-modal(tabindex="-1", role="dialog")
  .modal-dialog(role="document")
    form(method='POST').modal-content
      .modal-header
        h4 {% trans "Add free-form organizer" %}
      .modal-body
        .form-horizontal
          {% crispy freeform_organizer_form %}
      .modal-footer.clearfix
        .btn-group
          button.btn.btn-default(type='button', data-dismiss='modal') {% trans "Cancel" %}
          button.btn.btn-success(type='submit', name='action', value='add-freeform-host')
            i.kompassi-icon-space-right.fa.fa-plus
            {% trans "Add free-form organizer" %}
