- load crispy from crispy_forms_tags
- load trans from i18n
.tab-pane#programme-admin-programme-hosts-tab
  .panel.panel-default
    .panel-heading: strong {% trans "Programme hosts" %}
    .panel-body