- load crispy from crispy_forms_tags
- load trans from i18n
.tab-pane.active#programme-admin-programme-public-tab
  .panel.panel-default
    .panel-heading: strong {% trans "Public information" %}
    .panel-body: {% crispy public_form %}