extend base.pug
block title
  | Kaatajaisilmon yhteenveto
block content
  h2 {{ event.name }} – Kaatajaisilmon yhteenveto

  .panel.panel-default
    .panel-heading Menobussit
    table.table.table-striped
      thead
        tr
          th Lähtöaika
          th Lukumäärä
      tbody
        for time, count in outward_coaches
          tr
            td= time
            td= count

  .panel.panel-default
    .panel-heading Paluubussit
    table.table.table-striped
      thead
        tr
          th Lähtöaika
          td Lukumäärä
      tbody
        for time, count in return_coaches
          tr
            td= time
            td= count

  .panel.panel-default
    .panel-heading Viinakset
    table.table.table-striped
      thead
        tr
          th Juoma
          th Lukumäärä
      tbody
        for poison in poisons
          tr
            td {{ poison.name }}
            td {{ poison.victims }}
