extends base
- load i18n
- load crispy_forms_tags
block title
  | {% trans "Directory" %}
block content
  h2 {% trans "Directory" %}

  if show_warning
    form(method='post')
      {% csrf_token %}
      .panel.panel-danger
        .panel-heading: strong {% trans "Stern warning!" %}
        .panel-body: p {% blocktrans with organization=organization %}You are accessing the personally identifiable information of other people. You are allowed access to these strictly as part of duties related to <strong>{{ organization }}</strong> and events related to it. All access is logged and unauthorized access will be prosecuted.{% endblocktrans %}
          .btn-group.pull-right
            button.btn.btn-default(type='submit', name='action', value='hide-warning')
              i.fa.fa-check
              | {% trans "Hide this warning" %}

  form(method='get').form-horizontal
    .panel.panel-default
      .panel-heading: strong {% trans "Search and filter" %}
      .panel-body
        button(type='submit').sr-only
        {% crispy search_form %}
        .row
          .col-md-3.text-right: strong {% trans "Event" %}
          .col-md-9
            - with event_filters as filters
              include core_filter_labels
              include core_filter_hidden_input

  .panel.panel-default
    .panel-heading: strong {% trans "Search results" %}
    table.table.table-striped
      thead
        tr
          th(scope="column") {% trans "Surname" %}
          th(scope="column") {% trans "First name" %}
          th(scope="column") {% trans "Nick name" %}
      tbody
        for person in people
          tr
            td: a(href="{% url 'directory:directory_person_view' organization.slug person.id %}") {{ person.surname }}
            td: a(href="{% url 'directory:directory_person_view' organization.slug person.id %}") {{ person.first_name }}
            td: a(href="{% url 'directory:directory_person_view' organization.slug person.id %}") {{ person.nick }}
    .panel-footer
      .text-muted {% blocktrans with num_total_people=num_total_people count num_people=people.count %}Displaying one person (total {{ num_total_people }} people visible to your organization).{% plural %}Displaying {{ num_people }} people (total {{ num_total_people }} visible to your organization).{% endblocktrans %}
