body {
  padding-top: 17px;
}

.paikkala-inspection-view h1,
.paikkala-inspection-view p {
  text-align: center;
}

.paikkala-inspection-view h1 {
  margin-bottom: 0;
  font-size: 27px;
}

.paikkala-inspection-view ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.paikkala-inspection-view p {
  font-size: 21px;
  margin-bottom: 21px;
}

.paikkala-programme-icon {
  display: block;
  width: 60%;
  max-width: 25em;
  max-height: 25em;
  margin: 0.5em auto;
}

/* tampere-talo, iso sali */

.paikkala-zone-takapermanto-oikea-2-krs,
.paikkala-zone-etupermanto-oikea-2-krs,
.paikkala-zone-aitio-a-oikea-2-krs {
  background-color: #edff69; /* keltainen */
}

.paikkala-zone-takaparveke-vasen-3-krs,
.paikkala-zone-etuparveke-vasen-3-krs,
.paikkala-zone-1700-vanha-kirkko-kaato,
.paikkala-zone-0000-kaato-vanha-kirkko {
  background-color: #9ef3ff; /* sininen */
}

.paikkala-zone-takaparveke-oikea-3-krs,
.paikkala-zone-etuparveke-oikea-3-krs,
.paikkala-zone-1540-pakkahuoneenaukio-1600-vanha-kirkko-kaato,
.paikkala-zone-2300-kaato-vanha-kirkko {
  background-color: #ff8f96; /* punainen */
}

.paikkala-zone-takapermanto-vasen-2-krs,
.paikkala-zone-etupermanto-vasen-2-krs,
.paikkala-zone-1800-vanha-kirkko-kaato,
.paikkala-zone-0100-kaato-vanha-kirkko {
  background-color: #a2eba9; /* vihrea */
}

.paikkala-zone-etupermanto-vasen-1-krs {
  background-color: #eb8fc0; /* vaaleanpunainen "fuchsia" */
}

.paikkala-zone-etupermanto-oikea-1-krs,
.paikkala-zone-aitio-a-oikea-1-krs {
  background-color: #c2a192; /* beige */
}

/* tampere-talo, pieni sali */

.paikkala-zone-permanto-vasen-2-krs,
.paikkala-zone-aitio-2-vasen-2-krs,
.paikkala-zone-aitio-3-vasen-2-krs,
.paikkala-zone-aitio-4-vasen-2-krs {
  background-color: #b5a6ff; /* violetti */
}

.paikkala-zone-permanto-oikea-2-krs {
  background-color: #ff8559; /* oranssi */
}
