// ko if: $root.activeView() == 'JobCategory'
// ko with: jobCategory
thead
  tr(data-bind='with: jobCategory')
    th.kompassi-freeze-first-column
      div
        span(data-bind='text: title')
        | &nbsp;
        small: a(data-bind='attr: {href: $root.config.urls.base}') Takaisin
    // ko foreach: requirementCells
    th(data-bind="css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
// ko foreach: jobCategory().jobs
tbody
  tr
    td.kompassi-freeze-first-column
      a(href='', data-bind="click: function() { $parent.editJob($data) }")
        span(data-bind='text: title')
        i.fa.fa-pencil-square-o.kompassi-icon-space-left

    // ko foreach: requirementCells
    td.roster-editable(data-bind="click: edit,
                                  css: css()")
      |<span data-bind='text: allocated'></span>/<span data-bind='text: required'></span>
    // /ko
  // ko foreach: lanes
  tr.roster-lane
    td.kompassi-freeze-first-column
      .roster-cell-content(data-bind="text: text")
    // ko foreach: cells
    td.roster-cell(data-bind="attr: {colspan: hours}, css: cssClass, click: click")
      .roster-cell-content(data-bind="text: text, attr: {title: title}")
    // /ko
  // /ko
// /ko
tbody
  tr
    td.kompassi-freeze-first-column
      a(href='', data-bind="click: createJob")
        i.fa.fa-plus.kompassi-icon-space-right
        span Lis채채 teht채v채
// /ko
// /ko
