.roster-editable
  cursor pointer

  &:hover
    text-decoration underline

// necessary to avoid all kinds of graphical glitches with frozen first column
.roster-timeline, .roster-timeline th, .roster-timeline td
  height 60px

.kompassi-frozen-table-container
  overflow-x scroll
  margin-left 250px
  overflow-y visible
  padding-bottom 1px

.kompassi-freeze-first-column
  position absolute
  width 250px
  left 0
  top auto

.roster-cell
  text-align center

.roster-lane td
  height 20px
  font-size 13px
  padding-top 0 !important
  padding-bottom 0 !important

.roster-slot
  @extend .roster-editable

  // @extend .danger
  background-color #f2dede

.roster-shift
  @extend .roster-editable

.roster-shift-planned
  // @extend .info
  background-color #d9edf7

.roster-shift-confirmed
  // @extend .success
  background-color #dff0d8

.roster-shift-complained
  background-color #fcf8e3
  // @extend .warning

.roster-cell-content
  height 18px
  overflow hidden
