- load crispy from crispy_forms_tags
.tab-pane.active(role='tabpanel')#membership-admin-person-tab
  .panel.panel-default
    .panel-heading: strong Jäsenen tiedot
    .panel-body
      - crispy member_form
    .panel-footer.clearfix
      if read_only
        .btn-group.pull-right
            a.btn.btn-default(href='{% url "membership_admin_members_view" organization.slug %}')
              i.fa.fa-undo.kompassi-icon-space-right
              | Palaa jäsenlistaan
        p.help-block Koska jäsenellä on Kompassi-tunnus, vain jäsen itse voi muokata näitä tietoja.
      else
        include membership_admin_member_views/actions
