extend base.pug
block title
  | Kaatajaisilmon yhteenveto
block content
  h2 {{ event.name }} – Kaatajaisilmon yhteenveto

  .panel.panel-default
    .panel-heading: strong Viinakset
    table.table.table-striped
      thead
        tr
          th Juoma
          th Lukumäärä
      tbody
        for poison in poisons
          tr
            td {{ poison.name }}
            td {{ poison.victims }}

  .panel.panel-default
    .panel-heading: strong Saunavuorot
    table.table.table-striped
      thead
        tr
          th Saunavuoro
          th Lukumäärä
      tbody
        for gender, count in gender_segregation
          tr
            td {{ gender }}
            td {{ count }}
