<div class="help-block col-md-9 col-md-offset-3">
  <p>
    Kaikki me kohtaamme elämäämme yksilöllisesti, mutta yhdessä voimme tehdä
    Ropeconista turvallisemman tilan periaatteiden mukaisen, viihtyisän paikan,
    jossa jokainen saa olla oma itsensä ilman rajoituksia, häirintää tai
    syrjintää.
  </p>
  <p>
    Näiden kysymysten tavoitteena on viestiä osallistujille ohjelman
    saavutettavuudesta: pystyykö siihen esimerkiksi osallistumaan, jos ei pysty
    liikkumaan hämärässä tai kuuluuko ohjelmaan välkkyviä valoja.
  </p>
  <p>
    Ole meihin rohkeasti yhteydessä osoitteeseen
    <a href="mailto:pelitiski@ropecon.fi">pelitiski@ropecon.fi</a> tai
    <a href="mailto:inklusiivisuus@ropecon.fi">inklusiivisuus@ropecon.fi</a>,
    jos nämä kysymykset askarruttavat.
  </p>
  <p>
    Ruksaa listasta ohjelmaasi koskevat tekijät, jotka aiheuttavat esteitä
    osallistumiselle.
  </p>
  <p>---</p>
  <p>
    We face life as individuals, but together we can make Ropecon a safer, more
    comfortable space, where everyone can be themselves without limits,
    harassment or discrimination.
  </p>
  <p>
    These questions are aimed to inform participants about the accessibility of
    the program: can you participate if you e.g. can’t move in dim light or
    whether the programme involves flashing lights.
  </p>
  <p>
    Don’t hesitate to contact us at
    <a href="mailto:pelitiski@ropecon.fi">pelitiski@ropecon.fi</a> (Gaming Desk)
    or
    <a href="mailto:inklusiivisuus@ropecon.fi">inklusiivisuus@ropecon.fi</a>
    (inclusivity), if these questions raise any concerns.
  </p>
  <p>Please tick the factors that limit accessibility to your programme.</p>
</div>
