body, html
  height 100%

#content
  width 100% !important

  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -71px

.breadcrumb
  .active
    color black
    font-weight bold

#push
  height 70px

footer
  min-height 70px
  background-color #eee
  border-top 1px solid #ddd

  .credit
    padding-top 10px

.product-name, .requiredField
  font-weight bold

@media (max-width: 979px)
  .breadcrumb
    li
      display block

@media (min-width: 980px)
  .breadcrumb
    margin-top 60px

    li + li:before
      content " → "