extends tickets_phase_base.pug
- load crispy_forms_tags
block body_text
  h1 Majoittujien tiedot
  p Palotarkastaja vaatii kaikilta majoittujilta etukäteen seuraavat tiedot. Majoittujien tietojen täyttäminen on pakollista. Merkitse kunkin majoitus&shy;lipun kohdalle sen henkilön tiedot, joka tällä majoitus&shy;lipulla tulee majoittumaan.
  p <strong>Huom!</strong> Täytä tiedot huolella. Mikäli majoittujien tiedot ovat puutteelliset tai virheelliset, majoitustilaus voidaan perua.
block form_content
  for the_form in form
    .panel.panel-default
      .panel-heading: strong {{ the_form.instance.order_product.product.name }}
      .panel-body
        - crispy the_form
