- load i18n
h3 {% trans "Programme" %}

if event.programme_event_meta.schedule_link
  h4 {% trans "The programme schedule for this event has been published" %}
  p: a(href='{{ event.programme_event_meta.schedule_link }}').btn.btn-primary {% trans "View programme schedule" %}
else
  h4 {% trans "The programme schedule for this event has not yet been published" %}

if event.programme_event_meta.has_open_reservations
  h4 {% trans "The event has programme with reservations open" %}

  p: a.btn.btn-primary(href='{% url "program_v2:paikkala_profile_reservations_view" %}') {% trans "Go to reservations" %}

if is_programme_admin
  h4 {% trans "You have programme admin privileges for this event" %}

  p: a(href='{% url "programme:admin_view" event.slug %}').btn.btn-primary {% trans "Go to programme admin" %}

hr
