extends core_profile_base
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Seat reservations" %}
block profile_content
  h3 {% trans "Upcoming seat reservations" %}
  if valid_tickets.exists
    p {% trans "When entering a programme that requires a reserved seat, please open the seat reservation from the table below on your smartphone and show it to the security personnel at the door." %}
    p {% trans "If you change your mind about a programme you have reserved seats for, please relinquish those seats so that others may reserve them." %}
    table.table.table-striped.hidden-sm.hidden-xs
      thead
        tr
          th(scope='column') {% trans "Programme" %}
          th(scope='column') {% trans "Start time" %}
          th(scope='column') {% trans "Room" %}
          th(scope='column') {% trans "Seat" %}
          th
      tbody
        for ticket in valid_tickets
          tr
            th(scope='row')
              a(href="{% url 'programme:paikkala_inspection_view' ticket.program.kompassi_programme.event.slug ticket.program.kompassi_programme.id ticket.id ticket.key %}")
                | {{ ticket.program.kompassi_programme.event }}: {{ ticket.program.kompassi_programme.title }}

            if ticket.program.kompassi_programme.is_paikkala_time_visible
              td {{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATETIME_FORMAT" }}
            else
              td {{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATE_FORMAT" }}

            td= ticket.program.kompassi_programme.room.name
            td
              | {{ ticket.zone.name }}
              if ticket.program.numbered_seats
                br
                | {% trans "row" %} {{ ticket.row.name }}, {% trans "seat" %} {{ ticket.number }}
            td
              button(type='button', class='btn btn-xs btn-danger', data-toggle='modal', data-target='#confirm-relinguish-{{ ticket.pk }}')
                i.fa.fa-trash.kompassi-icon-space-right
                span.hidden-xs {% trans "Relinquish" %}…

    for ticket in valid_tickets
      .list-group.visible-sm.visible-xs
        a.list-group-item(href="{% url 'programme:paikkala_inspection_view' ticket.program.kompassi_programme.event.slug ticket.program.kompassi_programme.id ticket.id ticket.key %}", style='cursor: pointer')
          h4.list-group-item-heading {{ ticket.program.kompassi_programme.event }}: {{ ticket.program.kompassi_programme.title }}
          p.list-group-item-text {{ ticket.program.kompassi_programme.room.name }} {% if ticket.program.kompassi_programme.is_paikkala_time_visible %}{{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATETIME_FORMAT" }}{% else %}{{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATE_FORMAT" }}{% endif %}
          p.list-group-item-text {{ ticket.zone.name }}{% if ticket.program.numbered_seats %}, {% trans "row" %} {{ ticket.row.name }}, {% trans "seat" %} {{ ticket.number }}{% endif %}

        button.btn.btn-block.btn-danger(type='button', data-toggle='modal', data-target='#confirm-relinguish-{{ ticket.pk }}')
          i.fa.fa-trash.kompassi-icon-space-right
          span {% trans "Relinquish" %}…

    for ticket in valid_tickets
      .modal.fade(id='confirm-relinguish-{{ ticket.pk }}')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4 {% trans "Confirmation" %}
            form(method='POST', action="{% url 'programme:paikkala_relinquish_view' ticket.program.kompassi_programme.event.slug ticket.program.kompassi_programme.id ticket.id %}")
              {% csrf_token %}
              input(type='hidden', name='key', value='{{ ticket.key }}')
              div
                .modal-body
                  p {% trans "Are you sure you want to relinquish the following seat reservation?" %}
                table.table.table-striped
                  thead
                    tr
                      th(scope='column') {% trans "Programme" %}
                      th(scope='column') {% trans "Start time" %}
                      th(scope='column') {% trans "Room" %}
                      th(scope='column') {% trans "Seat" %}
                  tbody
                    tr
                      td: {{ ticket.program.kompassi_programme.event }}: {{ ticket.program.kompassi_programme.title }}

                      if ticket.program.kompassi_programme.is_paikkala_time_visible
                        td {{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATETIME_FORMAT" }}
                      else
                        td {{ ticket.program.kompassi_programme.start_time|date:"SHORT_DATE_FORMAT" }}

                      td= ticket.program.kompassi_programme.room.name
                      td
                        | {{ ticket.zone.name }}
                        if ticket.program.numbered_seats
                          br
                          | {% trans "row" %} {{ ticket.row.name }}, {% trans "seat" %} {{ ticket.number }}
                .modal-footer
                  .btn-group
                    button.btn.btn-default(type='button', data-dismiss='modal')
                      i.fa.fa-undo.kompassi-icon-space-right
                      | {% trans "No, I wish to keep it" %}
                    button.btn.btn-danger(type='submit')
                      i.fa.fa-trash.kompassi-icon-space-right
                      {% trans "Yes, relinquish it" %}

  else
    p {% trans "You have no upcoming seat reservations." %}


  h3 {% trans "Reservable programmes" %}
  if reservable_programmes.exists
    p {% trans "Here are the programmes you can currently reserve seats for. Please click the name of the programme to reserve seats. If the programme is currently booked full, seats may become available as visitors release reservations they do not need, so check back later." %}
    table.table.table-striped.hidden-sm.hidden-xs
      thead
        tr
          th(scope='column') {% trans "Programme" %}
          th(scope='column') {% trans "Start time" %}
          th(scope='column') {% trans "Room" %}
      tbody
        for programme in reservable_programmes
          tr
            th(scope='row')
              if programme.paikkala_program.remaining_tickets
                a(href='{% url "programme:paikkala_reservation_view" programme.event.slug programme.id %}') {{ programme.event }}: {{ programme.title }}
              else
                span.text-muted.kompassi-icon-space-right {{ programme.event }}: {{ programme.title }}
                span.label.label-default {% trans "Full" %}

            if programme.is_paikkala_time_visible
              td {{ programme.start_time|date:"SHORT_DATETIME_FORMAT" }}
            else
              td {{ programme.start_time|date:"SHORT_DATE_FORMAT" }}

            td= programme.room.name

    .list-group.visible-sm.visible-xs
      for programme in reservable_programmes
        if programme.paikkala_program.remaining_tickets
          a.list-group-item(href='{% url "programme:paikkala_reservation_view" programme.event.slug programme.id %}')
            h4.list-group-item-heading= programme.title
            p.list-group-item-text {{ programme.room.name }}, {% if programme.is_paikkala_time_visible %}{{ programme.start_time|date:"SHORT_DATETIME_FORMAT" }}{% else %}{{ programme.start_time|date:"SHORT_DATE_FORMAT" }}{% endif %}
        else
          .list-group-item
            h4.list-group-item-heading.text-muted
              | {{ programme.title }}
              .label.label-default {% trans "Full" %}
            p.list-group-item-text.text-muted {{ programme.room.name }}, {% if programme.is_paikkala_time_visible %}{{ programme.start_time|date:"SHORT_DATETIME_FORMAT" }}{% else %}{{ programme.start_time|date:"SHORT_DATE_FORMAT" }}{% endif %}


  else
    p {% trans "There are currently no reservable programmes." %}
