- load crispy_forms_tags
.programme-admin-form
  - crispy programme_form
  if programme.pk
    - crispy programme_extra_form
  - crispy programme_person_form_set.management_form
  for person_form in programme_person_form_set
    fieldset
      legend Ohjelmanpitäjä nro. {{ forloop.counter }}
      {{ person_form.id }}
      - crispy person_form programme_person_form_helper
  if not self_service
    - crispy programme_admin_form
