extends base
- load trans from i18n
block title
  if programme.title
    | {{ programme.title }}
  else
    | Ohjelmanumeron tiedot
block content_full_width
  .container
    include core_messages

    .nav.nav-tabs
      include core_admin_menu_items

    for overlapping_programme in overlapping_programmes
      .alert.alert-warning Päällekkäinen ohjelmanumero: <a href='{% url "programme:admin_detail_view" event.slug overlapping_programme.id %}'>{{ overlapping_programme.title }}</a> ({{ overlapping_programme.formatted_times }})

    include programme_admin_detail_views/pager

    ul.nav.nav-tabs
      for tab in tabs
        li(role='presentation', class='#{tab.active_css}')
          a(href='##{tab.id}', aria-controls='#{tab.id}', role='tab', data-toggle='tab')= tab.title
            if tab.notifications
              .badge= tab.notifications

    form(method='POST', role='form').form-horizontal
      //- To catch Enter button presses
      button.btn.btn-success.hidden(type='submit', name='action', value='save-edit', disabled="true") {% trans "Save and continue" %}

      .tab-content.kompassi-slight-space-above
        include programme_admin_detail_views/programme_tab
        include programme_admin_detail_views/schedule_tab
        include programme_admin_detail_views/internal_tab
        include programme_admin_detail_views/hosts_tab
        include programme_admin_detail_views/feedback_tab
