extends programme_admin_base
- load crispy_forms_tags
block title
  | Viestien lähetys
block admin_content
  .panel.panel-default
    .panel-heading: strong Viestien lähetys
    table.table.table-striped
      thead
        tr
          th Otsikko
          th.hidden-xs Vastaanottaja
          th.hidden-xs Lähetetty
          th.hidden-xs Vanhennettu
      tbody
        for message in not_messages
          tr
            td: a(href='{% url "programme:admin_mail_editor_view" event.slug message.pk %}') {{ message.subject_template }}
            td.hidden-xs {{ message.recipient }}
            td.hidden-xs {{ message.sent_at|date }}
            td.hidden-xs {{ message.expired_at|date }}
    .panel-footer.clearfix
      .button-group.pull-right
        a.btn.btn-primary(href='{% url "programme:admin_mail_new_view" event.slug %}') Uusi viesti
