.programme-metadata {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  font-style: italic;
}

.programme-metadata li {
  display: inline-block;
}

h4 {
  margin-bottom: 0;
}

.kompassi-space-after {
  margin-right: 0.5em;
}

.kompassi-space-before {
  margin-left: 0.5em;
}
