extends base/base.jade
block body_text
  h2 Vahvista tilaus
  p
    | Tarkista vielä tilauksen tietosi ja tilaamiesi tuotteiden määrät. Valitsemalla
    em Siirry maksamaan
    |  siirryt maksusivulle, jolla maksat tilauksesi verkkopankkitunnuksilla.

  p.alert.alert-warning.alert-large
    strong Huom!
    |  Muistathan maksun suoritettuasi painaa maksusivulla olevaa "Palaa myyjän sivulle"-nappia.

  include ticket_sales/order_statement.jade

  form(method='post', action='https://payment.checkout.fi/')
    include ticket_sales/checkout.html
    button.btn.btn-success.btn-block.btn-large(type='submit') Siirry maksamaan &#10004;
block form_content
