if is_badges_admin
  h3 Badget ja nimilistat
  h4 Sinulla on ylläpitäjän oikeudet tähän tapahtumaan.
  p: a(href='{% url "badges_admin_dashboard_view" event.slug %}').btn.btn-primary Siirry ylläpitäjän näkymään
  hr
