.btn-group.pull-right
  a.btn.btn-default(href='{% url "labour:admin_signups_view" event.slug %}') Hylkää muutokset ja palaa
  input.btn.btn-success(type='submit', name='save-return', value='Tallenna ja palaa')
  input.btn.btn-success(type='submit', name='save-edit', value='Tallenna ja jatka')
