.tab-pane#labour-admin-signup-history-tab
  if historic_signups.exists
    for signup in historic_signups
      .panel.panel-default
        .panel-heading
          .pull-right
            .label(class='{{ signup.state_label_class }}') {{ signup.formatted_state }}
          strong {{ signup.event.name }}
        .panel-body
          .row
            label.col-md-3 {{ signup.job_categories_label }}:
            .col-md-9: include labour_profile_job_category_labels.jade
          if signup.job_title
            .row
              label.col-md-3 Tehtävänimike:
              .col-md-9= signup.job_title
          if signup.notes
            .row
              .col-md-3: label Työvoimavastaavan merkinnät:
              .col-md-9 {{ signup.notes|linebreaks }}
    p.kompassi-space-above.text-muted Tässä näytetään ainoastaan työskentely {{ signup.event.organization.name_genitive }} tapahtumissa. Tietosuojasyistä mahdollista työskentelyä muiden järjestäjien {{ settings.KOMPASSI_INSTALLATION_NAME_PARTITIVE }} käyttävissä tapahtumissa ei näytetä.
  else
    p.kompassi-space-above.text-muted Tämä henkilö ei ole työskennellyt muissa {{ signup.event.organization.name_genitive }} tapahtumissa.