.tab-pane#labour-admin-signup-history-tab
  if historic_signups.exists
    for signup in historic_signups
      include labour_profile_historic_signup.jade
    if signup.person.allow_work_history_sharing
      p.kompassi-space-above.text-muted Hakija on sallinut työskentelyhistoriansa jakamisen {{ settings.KOMPASSI_INSTALLATION_NAME_PARTITIVE }} käyttävien järjestäjätahojen välillä.
    else
      p.kompassi-space-above.text-muted Hakija ei ole sallinut työskentelyhistoriansa jakamista {{ settings.KOMPASSI_INSTALLATION_NAME_PARTITIVE }} käyttävien järjestäjätahojen välillä, joten näkyvissä on ainoastaan työskentely {{ signup.organization.name_genitive }} järjestämissä tapahtumissa.
  else
    p.kompassi-space-above.text-muted Tämä henkilö ei ole työskennellyt muissa {{ signup.event.organization.name_genitive }} tapahtumissa.