.tab-pane#labour-admin-signup-messages-tab
  .panel.panel-default
    .panel-heading: strong Työvoimaviestit
    .panel-body
      p Tässä näet tälle hakijalle lähteneet työvoima&shy;viestit (massapostitukset). Napsauttamalla viestin otsikkoa voit tarkastella viestin tekstiä sellaisena, kun se on lähtenyt tälle hakijalle.
    include labour_profile_message_table
