<div class="help-block col-md-9 col-md-offset-3">
<p>We face life as individuals, but together we can make Ropecon a safer, more comfortable space, where everyone can be themselves without limits, harassment or discrimination.</p>
<p>These questions are aimed to inform participants about the accessibility of the game: can you participate if you e.g. can’t move in dim light or whether the game involves flashing lights.</p>
<p>Don’t hesitate to contact us at <a href="mailto:roolipelit@ropecon.fi">roolipelit@ropecon.fi</a> (RPG Coordinators) or <a href="mailto:inklusiivisuus@ropecon.fi">inklusiivisuus@ropecon.fi</a> (inclusivity), if these questions raise any concerns. </p>
<p>Tick these boxes if your game includes</p>
</div>
