extends base
block title
  | Työvoimatarpeet ja työvuorot
block content_full_width
  .nav.nav-tabs
    include core_admin_menu_items.jade

  table.table.table-striped.table-bordered.labour-admin-roster-view
    thead
      th
        | Tehtäväalue
        br
        small Tehtävä
      for hour in hours
        th
          | {{ hour|date:'D' }}
          br
          | {{ hour|date:'H' }}
    tbody
      for job_category in event.jobcategory_set.all
        tr(id='jobcategory-{{ job_category.pk }}-placeholder')
          td: a(href='{% url "labour_admin_roster_job_category_fragment" event.slug job_category.pk %}', data-fragment="true") {{ job_category.name }}
          td(colspan='{{ num_hours }}')

block extra_scripts
  script(src='{{ STATIC_URL }}roster.js')
