extends base
- load crispy_forms_tags
block content
  include labour_qualifications_fragment.jade
  p.help-block Kun olet ilmoittanut kaikki pätevyytesi, valitse Seuraava. Voit myöhemmin muokata pätevyyksiäsi profiilisi kautta.
  p: a.btn.btn-success.btn-block(href='{{ next }}') Seuraava