extends core_admin_base
- load static from staticfiles
block title
  | Hakemusten suodatus
block extra_scripts
  script(src='{% static "csrf.js" %}')
  script(src='{% static "querybuilder.js" %}')
  script(src='{% static "queryfilters.js" %}')
  script(src='{% static "moment.js" %}')

  //- XXX ugly hack
  script(src='{% static "" %}{{ LANGUAGE_CODE|slice:"0:2" }}.js')
  include querybuilder_init.html
  style(type="text/css")
    .btn-remove {
        background-color: #ffeee1;
    }
    tr td a {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    tr td a:hover {
        text-decoration: none;
    }
    table.table-grouped colgroup {
        border-left: 2px solid #dddddd;
        border-right: 2px solid #dddddd;
    }

block admin_content
  include querybuilder_base
