extends core_admin_base
- load crispy_forms_tags
block admin_content
  .panel.panel-default
    .panel-heading: strong Hakemus
    .panel-body
      .form-horizontal
        - crispy person_form
        // TODO add qualifications here
        - crispy signup_form
        - crispy signup_extra_form

  form(method='POST', role='form').form-horizontal.labour-admin-form
    .panel.panel-default
      .panel-heading: strong Työvoimavastaavan merkinnät
      .panel-body
        - crispy signup_admin_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "labour_admin_signups_view" event.slug %}') Hylkää muutokset ja palaa listaan
          button.btn.btn-success(type='submit', name='save-return', value='save-return') Tallenna ja palaa listaan
          button.btn.btn-success(type='submit', name='save-edit', value='save-edit') Tallenna ja jatka muokkaamista

  .panel.panel-default
    .panel-heading: strong Työvoimaviestit
    .panel-body
      p Tässä näet tälle hakijalle lähteneet työvoimaviestit (massapostitukset). Napsauttamalla viestin otsikkoa voit tarkastella viestin tekstiä sellaisena, kun se on lähtenyt tälle hakijalle.
    if have_person_messages
      table.table.table-striped
        thead
          tr
            th Otsikko
            th Lähetysaika
        tbody
          for message in person_messages
            tr
              td: a(href='#', data-toggle='modal', data-target='#personmessage-{{ message.pk }}') {{ message.subject.text }}
              td {{ message.created_at|date:"SHORT_DATETIME_FORMAT" }}
    else
      .panel-footer: p.text-muted Ei viestejä.

  for message in person_messages
    .modal.fade(id='personmessage-{{ message.pk }}')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4 {{ message.subject.text }}
          .modal-body: {{ message.body.text|linebreaks }}
          .modal-footer
            .btn-group
              a.btn.btn-primary(href='{% url "labour_admin_mail_editor_view" event.slug message.pk %}') Avaa viesti editorissa
              button.btn.btn-default(type='button', data-dismiss='modal') Sulje

block extra_scripts
  script
    (function($) {
      // Mute the labels of job category checkboxen for non-applied categories to signal the
      // workforce manager that appointing this worker to this particular category might not be
      // well-welcomed.

      // XXX hack: widget customization is very difficult, so apply styles via JS
      var nonAppliedCategoryNames = {{ non_applied_category_names_json|safe }};
      $.each(nonAppliedCategoryNames, function(index, categoryName) {
        var selector = '.labour-admin-form label.checkbox:contains("' + categoryName + '")';
        $(selector).addClass('text-muted');
      });
    })(jQuery);
