thead
  tr
    th Sukunimi
    th Etunimi
    th Nick
    th
      | Teht채v채alueet
      span(style='display: inline-block').legend.pull-right
        span.label.label-default Haettu
        | &thinsp;
        span.label.label-info Odottaa vuoroja
        | &thinsp;
        span.label.label-success Vuorot l채hetetty
        | &thinsp;
        span.label.label-warning Reklamoitu
        | &thinsp;
        span.label.label-danger Hyl채tty
tbody
  for signup in signups
    tr
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.surname }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.first_name }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.nick }}
      td
        for label_class, label_text, label_title in signup.job_category_accepted_labels
          span.label(class='{{ label_class }}', title='{{ label_title }}') {{ label_text }}
