if event.laboureventmeta.is_registration_open
  h3 Tapahtuman työvoimahaku on avoinna
  p
    a(href='{% url "labour_signup_view" event.pk %}')
      if current_user_signed_up
        | Muokkaa ilmoittautumistasi
      else
        | Hae töihin tapahtumaan
