thead
  tr
    th Sukunimi
    th Etunimi
    th Nick
    th
      | Teht채v채alueet
      span(style='display: inline-block').legend.pull-right
        span.label.label-default Haettu
        | &#x20;
        span.label.label-info Odottaa vuoroja
        | &#x20;
        span.label.label-success Vuorot l채hetetty
        | &#x20;
        span.label.label-warning Reklamoitu
        | &#x20;
        span.label.label-danger Hyl채tty
tbody
  for signup in signups
    tr
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.surname }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.first_name }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.nick }}
      td: include labour_profile_job_category_labels.jade
