extends labour_admin_base
- load crispy_forms_tags
block admin_content
  .panel.panel-default
    .panel-heading: strong Hakemus
    .panel-body
      .form-horizontal
        - crispy person_form
        // TODO add qualifications here
        - crispy signup_form
        - crispy signup_extra_form