extends base
- load crispy_forms_tags
block content
  h2 Pätevyydet
  p Ole hyvä ja ilmoita alla, mikäli sinulla on jokin luetelluista pätevyyksistä. Valitse sitten Seuraava.
  include labour_qualifications_fragment.jade