extends labour_admin_base
block admin_content
  h4 Tapahtumaan ilmoittautuneet henkilöt
  ul
    for signup in signups
      li: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.full_name }}
