extends core_admin_base.pug
- load i18n
- load crispy from crispy_forms_tags
block title
  {% trans "Application period" %}
block admin_content
  form(method='POST', role='form').form-horizontal
    //- To catch enter presses
    button.hidden(type='submit', name='action', value='save') {% trans "Save and return" %}

    .panel.panel-default
      .panel-heading: strong {% trans "Application period" %}
      .panel-body
        p.help-block {% blocktrans %}Here you can set the starting and ending times for the application period. The signup form will automatically open at the beginning and close at the end of the application period.{% endblocktrans %}
        p.help-block {% blocktrans %}If the <em>Registration starts</em> field is empty, the signup form will stay closed. If the <em>Registration starts</em> is set but the <em>Registration closes</em> field is empty, the signup form will stay open once the beginning of the application period has been reached.{% endblocktrans %}
        p.help-block {% blocktrans %}You can also start or stop the application period immediately.{% endblocktrans %}
        p &nbsp;
        - crispy form
      .panel-footer.clearfix
        .btn-group.pull-right
          if meta.is_registration_open
            button.btn.btn-danger(type='submit', name='action', value='stop-now')
              i.fa.fa-stop.kompassi-icon-space-right
              {% trans "End now" %}
          else
            button.btn.btn-success(type='submit', name='action', value='start-now')
              i.fa.fa-play.kompassi-icon-space-right
              {% trans "Start now" %}
          button.btn.btn-primary(type='submit', name='action', value='save')
            i.fa.fa-save.kompassi-icon-space-right
            {% trans "Save changes" %}

        if meta.is_registration_open
          p.text-muted {% trans "The application period is currently underway." %}
        else
          p.text-muted {% trans "The application period is not currently underway." %}
