extends core_admin_base
block title
  | Tapahtumaan ilmoittautuneet henkilöt
block admin_content
  .panel.panel-default
    .panel-heading
      strong
        a(role='button', data-toggle='collapse', data-target='#kompassi-labour-signup-filters') Suodata hakemuksia
    .panel-body.signup-filters.collapse#kompassi-labour-signup-filters(class='{{ css_to_show_filter_panel }}')
      .row
        .col-md-3: strong Haettu tehtävä
        .col-md-9
          for jc, active in job_category_filters
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ jc.qs_del }}') {{ jc.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ jc.qs_add }}') {{ jc.name }}
      .row
        .col-md-3: strong Hyväksytty tehtävä
        .col-md-9
          for jc, active in job_category_accepted_filters
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ jc.qs_del }}') {{ jc.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ jc.qs_add }}') {{ jc.name }}
      .row
        .col-md-3: strong Henkilöstöluokka
        .col-md-9
          for pc, active in personnel_class_filters
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ pc.qs_del }}') {{ pc.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ pc.qs_add }}') {{ pc.name }}
      .row
        .col-md-3: strong Hakemuksen tila
        .col-md-9
          for sf, active in state_filter
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ sf.qs_del }}') {{ sf.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ sf.qs_add }}') {{ sf.name }}
      hr
      .row
        .col-md-3: strong Luettelojärjestys
        .col-md-9
          for so, active in sorter
            if active
              span.label.label-brand.kompassi-space-after
                a(href='?{{ so.qs_add }}') {{ so.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?{{ so.qs_add }}') {{ so.name }}

  .panel.panel-default
    .panel-heading: strong Tapahtumaan ilmoittautuneet henkilöt
    table.table.table-striped
      include labour_admin_signup_table_contents.jade
    .panel-footer.clearfix
      .btn-group.pull-right
        button.btn.btn-default.dropdown-toggle#membership-admin-export-dropdown(type='button',
                                                                                data-toggle='dropdown',
                                                                                aria-haspopup='true',
                                                                                aria-expanded='true') Vie...
          span.caret
        ul.dropdown-menu(aria-labelledby='membership-admin-export-dropdown')
          for export_format in export_formats
            li: a(href='{% url "labour_admin_export_view" event.slug export_format.extension %}?{{ request.META.QUERY_STRING }}')= export_format.name

      p.text-muted {{ num_signups }} henkilö{{ num_signups|pluralize:"ä" }} (yhteensä {{ num_all_signups }}).
