extends core_admin_base
block title
  | Tapahtumaan ilmoittautuneet henkilöt
block admin_content
  .panel.panel-default
    .panel-heading: strong Tapahtumaan ilmoittautuneet henkilöt
    .panel-body.signup-filters
      p Suodata hakemuksia:
      .row
        .col-md-3: strong Haettu tehtävä
        .col-md-9
          for jc, active in job_category_filters
            if active
              a.label.label-info.kompassi-space-after(href='?') {{ jc.name }}
            else
              a.label.label-default.kompassi-space-after(href='?job_category={{ jc.slug }}') {{ jc.name }}
      .row
        .col-md-3: strong Hyväksytty tehtävä
        .col-md-9
          for jc, active in job_category_accepted_filters
            if active
              span.label.label-info.kompassi-space-after
                a(href='?') {{ jc.name }}
            else
              span.label.label-default.kompassi-space-after
                a(href='?job_category_accepted={{ jc.slug }}') {{ jc.name }}
      //- .row
      //-   .col-md-3: strong Hakemuksen tila
      //-   .col-md-9
    table.table.table-striped
      include labour_admin_signup_table_contents.jade
    .panel-footer.clearfix
      .pull-right
        a(href='{% url "labour_admin_export_view" event.slug %}') Vie Exceliin...
