extends base.jade
block title
    | Työvoiman kirjaus sisään

block content
    .row
        .col-xs-12
            h1 Työvoiman kirjaus
    .row
        .col-xs-12
            .form-group
                label(for='onboarding_search') Hae työvoimaa
                input#onboarding_search.form-control(type='search')
    table.table.table-striped.onboarding__table
        thead
            tr
                th Nimi
                th Tehtävä
                th Paita
        tbody
            each signup in signups
                tr.signup(data-id=signup.id, class='{% if signup.is_arrived %}signup--arrived{% endif %}')
                    td.name= signup.full_name
                    td.title= signup.job_title
                    td.shirt= signup.signup_extra.shirt_size

block extra_scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script.
        var $search = $('#onboarding_search')
        var $signups = $('.onboarding__table .signup')

        $search.on('input', _.throttle(function (evt) {
            var searchText = evt.target.value
            var matcher = new RegExp(searchText, 'i')

            $signups.each(function () {
                var $this = $(this)
                var name = $this.children('.name').text()
                var match = matcher.test(name)
                $this.toggleClass('hidden', !match)
            })
        }, 100))

        $signups.on('click', function () {
            var $this = $(this)
            var id = $this.data('id')
            var arrived = $this.hasClass('signup--arrived')
            var newArrivedState = !arrived
            var data = { id: id, arrived: newArrivedState, csrfmiddlewaretoken: '{{ csrf_token }}' }
            $.post('{% url "labour_onboarding_view" event.slug %}', data)
                .done(function () {
                    $this.toggleClass('signup--arrived', newArrivedState)
                })
                .fail(function (xhr, status, errorText) {
                    alert(errorText)
                })
        })
