extends base.jade
- load crispy_forms_tags
block title
  if alternative_signup_form
    | {{ alternative_signup_form.title }}
  else
    | Ilmoittaudu vapaaehtois&shy;työhön
block content
  if alternative_signup_form
    h2 {{ alternative_signup_form.title }}
  else
    h2 Ilmoittaudu vapaaehtois&shy;työhön {{ event.name_illative }}

  form(method='POST', role='form').form-horizontal
    .labour-signup-form
      - crispy signup_form
    - crispy signup_extra_form
    p
      // XXX why is this extra p necessary to preserve spacing
    fieldset
      legend Lähetä ilmoittautuminen
      .form-group
        .controls.col-md-5.col-md-offset-3
          .btn-group
            input.btn.btn-primary(type='submit', name='submit', value='{{ submit_text }}')
            a.btn.btn-default(href='{% url "core_event_view" event.slug %}') Peruuta
      p
        // XXX why is this extra p necessary to preserve spacing

block extra_scripts
  script
    window.labourJobDescriptions = {{job_descriptions_json|safe}};
  script(src='{{ STATIC_URL }}job_descriptions.js')

  script
    var nonQualifiedCategoryNames = {{ non_qualified_category_names_json|safe }};
    $.each(nonQualifiedCategoryNames, function(index, categoryName) {
      var selector = '.labour-signup-form label.checkbox:contains("' + categoryName + '")',
          $label = $(selector);
      $label.addClass('text-muted');
      $label.find('input').attr('disabled', true);
    });
