extends core_profile_base
block title
  | Työvoimahakemukset
block profile_content
  if signup_current_events.exists
    h3 Työskentely parhaillaan käynnissä olevissa tapahtumissa
    for signup in signup_current_events
      include labour_profile_signup_box.jade
  if signups_future_events.exists
    h3 Hakemukset tuleviin tapahtumiin
    for signup in signups_future_events
      include labour_profile_signup_box.jade
  if signups_past_events.exists
    h3 Työskentely menneissä tapahtumissa
    for signup in signups_past_events
      include labour_profile_signup_box.jade
  if no_signups
    h3 Ei työvoimahakemuksia
    p Et ole hakenut töihin yhteenkään {{ KOMPASSI_INSTALLATION_NAME_PARTITIVE }} työvoimanhallintaan käyttävään tapahtumaan.
