thead
  tr
    th Sukunimi
    th Etunimi
    th Nick
    th
      | Teht채v채alueet
      span(style='display: inline-block').legend.pull-right
        span.label.label-default.kompassi-icon-space-right Haettu
        span.label.label-info.kompassi-icon-space-right Odottaa vuoroja
        span.label.label-success.kompassi-icon-space-right Vuorot l채hetetty
        span.label.label-warning.kompassi-icon-space-right Vaatii huomiota
        span.label.label-danger.kompassi-icon-space-right Hyl채tty
tbody
  for signup in signups
    tr
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.surname }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.first_name }}
      td: a(href='{% url "labour_admin_signup_view" event.slug signup.person.pk %}') {{ signup.person.nick }}
      td: include labour_profile_job_category_labels.jade
