extends base.jade
- load crispy_forms_tags
block content
  h2 {{ event.name }}

  form(action='{% url "labour_signup_view" event.slug %}', method='POST', role='form').form-horizontal
    - crispy signup_form
    - crispy signup_extra_form
    p
      // XXX why is this extra p necessary to preserve spacing
    fieldset
      legend Lähetä ilmoittautuminen
      .form-group
        .controls.col-md-5.col-md-offset-3
          .btn-group
            input.btn.btn-primary(type='submit', name='submit', value='{{ submit_text }}')
            a.btn.btn-default(href='{% url "core_event_view" event.slug %}') Peruuta
      p
        // XXX why is this extra p necessary to preserve spacing

block extra_scripts
  script
    window.labourJobDescriptions = {{job_descriptions_json|safe}};
  script(src='{{ STATIC_URL }}job_descriptions.js')