extends base
block title
  | Työvoimatarpeet ja työvuorot
block content_full_width
  .nav.nav-tabs
    include core_admin_menu_items.jade

  #labour-admin-roster-view
    include labour_admin_roster_views/Roster.jade

block extra_scripts
  link(rel='stylesheet', href='{{ STATIC_URL }}labour/css/roster.css')
  script
    window.kompassiLabourRosterConfig = {{ config_json|safe }};
  script(src='{{ STATIC_URL }}labour/js/roster.js')
