.panel.panel-default
  .panel-heading
    .pull-right
      .label(class='{{ signup.state_label_class }}') {{ signup.formatted_state }}
    strong.kompassi-space-after {{ signup.event.name }}
    small.text-muted {{ signup.event.headline }}
  .panel-body
    .row
      label.col-md-3 {{ signup.job_categories_label }}:
      .col-md-9: include labour_profile_job_category_labels
    if signup.personnel_classes.exists
      .row
        label.col-md-3 Henkilöstöluokka:
        .col-md-9
          for label_class, label_text, label_title in signup.personnel_class_labels
            span.label(class='{{ label_class }}', title='{{ label_title }}') {{ label_text }}
    if signup.job_title
      .row
        label.col-md-3 Tehtävänimike:
        .col-md-9= signup.job_title
