extends core_admin_base
- load crispy_forms_tags
block admin_content
  .panel.panel-default
    .panel-heading: strong Työvoimaviestit
    table.table.table-striped
      thead
        tr
          th Vastaanottaja
          th Otsikko
          th Lähetetty
          th Vanhennettu
      tbody
        for message in messages
          tr
            th {{ message.recipient_group.name }}
            th {{ message.subject_template }}
            th {{ message.sent_at|date }}
            th {{ message.expired_at|date }}
    .panel-footer.clearfix
      .button-group.pull-right
        a.btn.btn-primary(href='{% url "labour_admin_mail_new_view" event.slug %}') Uusi viesti