extends base.jade
- load crispy_forms_tags
block content
  h2 {{ event.name }}

  form(action='{% url "labour_signup_view" event.pk %}', method='POST', role='form').form-horizontal
    - crispy signup_form
    - crispy signup_extra_form
    p
      // XXX why is this extra p necessary to preserve spacing
    fieldset
      legend L채het채 ilmoittautuminen
      input.btn.btn-primary(type='submit', name='submit', value='L채het채 ilmoittautuminen')
      | 
      a.btn.btn-default(href='{% url "core_event_view" event.pk %}') Peruuta
      p
        // XXX why is this extra p necessary to preserve spacing

