<script type="text/javascript">
    $(document).ready(function () {
        setupAjax();
        var query_filter_def = {{ query_builder_data_filters|safe }};
        var query_filter_titles = {{ query_builder_data_titles|safe }};

        var backend_data = new BackendData();
        //noinspection JSUnusedAssignment
        backend_data.setFilterDefs(query_filter_def);
        //noinspection JSUnusedAssignment
        backend_data.setTitleMap(query_filter_titles);

        var query_builder = new QueryBuilder(backend_data);
        query_builder.setBackend("{% url "labour_admin_query_exec" event.slug %}");

        query_builder.attachAdd("#add_query_filter");
        query_builder.attachForm("#query_builder_form");
        query_builder.attachViewSelect("#query_builder_views");
        query_builder.attachDebug("#query_debug");
        query_builder.attachResults("#query_results");
        window.ValueFormatter.timeZone = "{{ TIME_ZONE }}";
        window.ValueFormatter.locales = "{{ LANGUAGE_CODE }}";

        {% if query_builder_results and debug %}
        var results = {{ query_builder_results|safe }};

        query_builder.queriedViews = {{ query_builder_views|safe }};
        //noinspection JSUnusedAssignment
        query_builder.onDataResult(results, null, null);
        {% endif %}
        window.query_builder = query_builder;
    });
</script>
