- load query_extras

form(method='post', role='form', id='query_builder_form')
    if debug
        - csrf_token
label(for='add_query_filter') Lis채채 suodatin
select(id='add_query_filter')
    option(disabled='disabled', selected='selected') ---
    for key, filter in query_builder_filters
        option(value=key) {{ query_builder_titles|get_item:key }}
if debug
    pre(id='query_debug')
    button.btn.btn-default(type="button", onclick="query_builder.onUpdateDebug();") Update filter debug
button.btn.btn-primary(type="button", onclick="query_builder.onExec();") P채ivit채 tulokset
if debug
    button.btn.btn-default(type="button", onclick="query_builder.onExecPlain();") DEBUG-Submit
    button.btn.btn-default#qb_toggle_id_vis(type="button", onclick="query_builder.onToggleIDVisibility('qb_toggle_id_vis');") ID
#query_builder_views

table.table.table-striped.table-hover.table-condensed.table-bordered.table-grouped#query_results
