{% extends "ticket_admin/base.html" %}
{% load wizard_ui %}
{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
{% block content %}
<h1>Merkitse toimituserä toimitetuksi</h1>
<p>Vahvista toimituserän {{ batch.id }} merkitseminen toimitetuksi.</p>
<p><em>HUOM!</em> Lähettää toimitusvahvistukset asiakkaille! Peruuttamaton operaatio.</p>
<form action="{% url deliver_batch_view batch_id=batch.id %}" method="post">{% csrf_token %}
{{ form }}
<p><input type="submit" value="Vahvista toimituserä" /></p>
</form>
{% endblock content %}
