{% extends "ticket_admin/base.html" %}
{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
{% block content %}
<h1>Merkitse tilauksia maksetuksi</h1>

<h2>Yksi kerrallaan</h2>

<form action="{% url process_single_payment_view %}" method="post">{% csrf_token %}
{{ single_form.as_p }}
<p><input type="submit" value="Tarkista" /></p>
</form>

<h2>Tiliotteesta</h2>
<form action="{% url process_multiple_payments_view %}" method="post">{% csrf_token %}
{{ multiple_form.as_p}}
<p><input type="submit" value="Tarkista" /></p>
</form>

{% endblock content %}
