extends base.jade
- load i18n
block title
  | {{ survey.title }}
block content
  if event
    h2 {{ event.name }}: {{ survey.title }}
  else
    h2 {{ survey.title }}

  {{ survey.description|safe|linebreaks }}

  #kompassi-survey-container
  noscript
    .alert.alert-danger {% trans "JavaScript is required to answer this survey." %}

block extra_scripts
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/survey-jquery/1.0.48/survey.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/survey-jquery/1.0.48/survey.jquery.min.js')
  script.
    // Setup CSRF protection
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        }
    });

    // Survey.JS defaults
    Survey.Survey.cssType = 'bootstrap';
    Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
    Survey.surveyLocalization.locales.fi = {
      pagePrevText: 'Edellinen',
      pageNextText: 'Seuraava',
      completeText: 'Lähetä',
    };

    // AJAX handler for survey results
    function onComplete(survey) {
      $.ajax({
        type: 'POST',
        url: '{{ request.path }}',
        contentType: 'application/json',
        data: JSON.stringify(survey.data),
      });
    }

    // Construct and show our current survey
    var survey = new Survey.Model({{ model_json|safe }});
    survey.locale = '{{ current_language_code }}';
    $('#kompassi-survey-container').Survey({
      model: survey,
      onComplete: onComplete,
    });
