.row
  .span6
    h3 Toimitusosoite
    .well
      p
        | {{ order.customer.name }}
        br
        | {{ order.customer.address }}
        br
        | {{ order.customer.zip_code }} {{ order.customer.city }}
      p
        | {{ order.customer.email }}
        br
        | {{ order.customer.phone_number }}
  .span6
    h3 Liput
    table.table.table-bordered.table-striped
      thead
        tr
          th Määrä
          th Tuote
          th à
          th Yht.
      tbody
        for op in products
          tr
            td {{ op.count }} kpl
            td {{ op.product.name }}
            td {{ op.product.formatted_price }}
            td {{ op.formatted_price }}

        tr
          td(colspan='3') Toimituskulut
          td {{ order.formatted_shipping_and_handling }}

        tr
          th(colspan='3') Yhteensä
          th {{ order.formatted_price }}