extends tickets_phase_base.jade
- load i18n
block body_text
  h2 {% trans "Confirm order" %}
  p {% blocktrans %}Please check your delivery information, especially the e-mail address, and the amounts of products being ordered. By selecting <em>Proceed to payment</em> you will navigate to a payment page on which you will select the payment method.{% endblocktrans %}

  p.alert.alert-warning.alert-large
    strong {% trans "Note!" %}
    |  {% trans "In order to ensure speedy delivery of your order, please remember to return to the ticket shop from the payment provider after completing your payment." %}

block form_content
  include tickets_order_fragment.jade
