extends tickets_phase_base.pug
- load i18n
block body_text
  h2 {% trans "Confirm order" %}
  p {% blocktrans %}Please check your delivery information, especially the e-mail address, and the amounts of products being ordered. By selecting <em>Proceed to payment</em> you will navigate to a payment page on which you will select the payment method.{% endblocktrans %}

  if phase.can_go_back
    p.alert.alert-warning.alert-large
      strong {% trans "Note!" %}
      |  {% trans "In order to ensure speedy delivery of your order, please remember to return to the ticket shop from the payment provider after completing your payment." %}
  else
    p.alert.alert-warning.alert-large
      strong {% trans "Note!" %}
      |  {% trans "You have already confirmed your order and it can no longer be changed. However, we have not yet received word of your successful payment. If the payment is still in progress in another tab or browser window, please complete it there. If you cancelled the payment, please proceed to payment again or cancel the order using the buttons below. If you completed the payment, it is likely that you did not return to the web shop using the link provided by the payment provider. In this case, please wait three to five banking days before contacting our customer service." %}


block form_content
  include tickets_order_fragment
