extends base.pug
- load i18n
block title
  | {% trans "Ticket shop" %}
block content
  ul.breadcrumb
    for the_phase in phases
      if the_phase.current
        li.active {{ forloop.counter }}. {{ the_phase.friendly_name }}
      else
        li {{ forloop.counter }}. {{ the_phase.friendly_name }}

  block body_text
    p Sisältö tulee tähän.

  form(method='post', action='{{ phase.url }}').form-horizontal
    {% csrf_token %}

    block form_content
      p Lomakkeen sisältö tulee tähän.

    include tickets_buttons_fragment.pug
