- load crispy_forms_tags
- load i18n
thead
  tr
    th {% trans "Product" %}
    th {% trans "Unit price" %}
    th(style='min-width: 80px') {% trans "Amount" %}
tbody
  for iform in form
    tr
      td
        p: strong {{ iform.instance.product.name }}
        p.hidden-xs {{ iform.instance.product.description|safe|linebreaks }}
      td: p.lead {{ iform.instance.product.formatted_price }}
      td
        div
          if iform.instance.product.in_stock
            - crispy iform
          elif admin_title
            - crispy iform
          else
            // XXX fugly
            | Loppuunmyyty
