extends core_admin_base.jade
- load crispy_forms_tags
block title
  | Lisää majoittuja
block admin_content
  .panel.panel-danger
    .panel-heading: strong Ankara varoitus!
    .panel-body
      p Tämä lomake on tarkoitettu majoittujien lisäämiseen tapahtuman aikana. Tällä lomakkeella lisätyt majoittujat eivät kuluta lippukaupan majoitustuotteen loppuunmyyntiryhmien kiintiöitä.
      p Jos lisäät majoittujia tällä lomakkeella lipunmyynnin ollessa vielä käynnissä, pyydä ylläpitäjää pienentämään kiintiötä vastaavasti. Muutoin seurauksena voi olla ylimyynti.
  form(method='POST').form.form-horizontal
    .panel.panel-default
      .panel-heading: strong Lisää majoittuja – {{ limit_group.description }}
      .panel-body
        - crispy form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "tickets_admin_accommodation_filtered_view" event.slug limit_group.id %}')
            i.fa.fa-undo.kompassi-icon-space-right
            | Hylkää muutokset ja palaa nimilistaan
          button.btn.btn-success(type='submit')
            i.fa.fa-check.kompassi-icon-space-right
            | Lisää majoittuja
