extends core_admin_base.pug
- load crispy_forms_tags
block title
  | Tilausten haku
block admin_content
  .panel.panel-default
    .panel-heading: strong Tilausten haku
    .panel-body
      - crispy form
    table.table.table-striped
      thead
        tr
          th Tilausnumero
          th Tilaaja
          th Tilauspvm
          th Maksettu
          th Peruttu
      tbody
        for order in orders
          tr(class="{{ order.css_class }}")
            td: a(href='{% url "tickets_admin_order_view" event.slug order.pk %}') {{ order.formatted_order_number }}
            td {{ order.customer.name }}
            td {{ order.confirm_time|date:"SHORT_DATE_FORMAT" }}
            td {{ order.payment_date|date:"SHORT_DATE_FORMAT" }}
            td {{ order.cancellation_time|date:"SHORT_DATE_FORMAT" }}
    .panel-footer
      ul.pager
        if orders.has_previous
          li.previous: a(href='?page={{ orders.previous_page_number }}') &laquo; Edellinen
        li.current Sivu {{ orders.number }} ({{ orders.paginator.num_pages }})
        if orders.has_next
          li.next: a(href='?page={{ orders.next_page_number }}') Seuraava &raquo;
