extends core_admin_base.jade
block admin_content
  .panel.panel-default
    .panel-heading Tilaukset
    table.table
      thead
        tr
          th Tilausnumero
          th Tilaaja
          th Tilauspvm
          th Maksettu
          th Peruttu
