extends core_admin_base
block title
  | Raportit

block admin_content
  .panel.panel-default
    .panel-heading: strong Lippujen lunastustilanne
    table.table.table-striped
      thead
        tr
          th Tuote
          th Lunastettu
          th Lunastamatta
          th Yhteensä
      tbody
        for product_handout in product_handouts
          tr
            th {{ product_handout.title }}
            td {{ product_handout.handed_out_count }}
            td {{ product_handout.not_handed_out_count }}
            td {{ product_handout.total_count }}



  .panel.panel-default
    .panel-heading: strong Lippujen lunastus tunneittain
    table.table.table-striped
      thead
        tr
          th Tunti
          th Tunnilla lunastettu
          th Yhteensä
      tbody
        for arrival_row in arrivals_by_hour
          tr
            td {{ arrival_row.hour|date:"SHORT_DATETIME_FORMAT"|default:"Ei lunastettu" }}
            td {{ arrival_row.arrivals }}
            td {{ arrival_row.cum_arrivals }}
