extends core_admin_base.jade
- load crispy_forms_tags
block admin_content
  form.form.form-horizontal(method='POST', role='form')
    .panel.panel-default
      .panel-heading: strong Tilauksen tiedot
      .panel-body
        fieldset
          // - crispy order_form
        fieldset
          legend Asiakkaan tiedot
          - crispy customer_form
        fieldset
          legend Tuotteet
          // - crispy order_product_form_set
      .panel-footer
        a.btn.btn-default(href='{% url "tickets_admin_orders_view" event.slug %}') Hylk채채 muutokset ja palaa listaan
        button.btn.btn-success(type='submit', name='save', value='save') Tallenna muutokset ja jatka muokkaamista
        if can_cancel
          button.btn.btn-danger(type='submit', name='cancel', value='cancel') Tallenna muutokset ja jatka muokkaamista
        if can_resend
          button.btn.btn-primary(type='submit', name='resend-confirmation', value='resend-confirmation') L채het채 vahvistusviesti uudelleen        
