extends tickets_phase_base.jade
- load crispy_forms_tags
block body_text
  h2 Valitse ostettavat tuotteet
block form_content
  p Kirjoita kenttiin, montako mitäkin tuotetta haluat. Voit tilata useita tuotteita samalla kertaa. Sinulla on tilaisuus tarkistaa tiedot vielä myöhemmin ennen kuin vahvistat tilauksen.
  table.table.table-striped.table-bordered
    include tickets_order_product_table.jade