- load i18n
.row
  .col-md-6
    h3 {% trans "Contact information" %}
    .well
      p
        | {{ order.customer.name }}
        br
        | {{ order.customer.email }}
        br
        | {{ order.customer.normalized_phone_number|default:"" }}
  .col-md-6
    h3 {% trans "Products" %}
    table.table.table-bordered.table-striped
      thead
        tr
          th {% trans "Amount" %}
          th {% trans "Product" %}
          th {% trans "Unit price" %}
          th {% trans "Total" %}
      tbody
        for op in products
          tr
            td {{ op.count }} {% trans "pcs." %}
            td {{ op.product.name }}
            td {{ op.product.formatted_price }}
            td {{ op.formatted_price }}

        tr
          th(colspan='3') {% trans "Total" %}
          th {{ order.formatted_price }}
