extends tickets_phase_base.jade
block body_text
  h2 Vahvista tilaus
  p
    | Tarkista vielä tilauksen tietosi ja tilaamiesi tuotteiden määrät. Valitsemalla
    em Siirry maksamaan
    |  siirryt maksusivulle, jolla maksat tilauksesi verkkopankki&shy;tunnuksilla.

  p.alert.alert-warning.alert-large
    strong Huom!
    |  Muistathan maksun suoritettuasi painaa maksusivulla olevaa "Palaa myyjän sivulle"-nappia.

block form_content
  include tickets_order_fragment.jade
