{% extends "tickets_admin_base.jade" %}
{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
{% block admin_content %}
<h2>Toimituserät</h2>

<ul>
  {% for batch in batches %}
    <li>
      <a href="{% url tickets_admin_batch_view event.slug batch.pk %}">Erä {{ batch.pk }}</a>
      {% if batch.is_delivered %}
        (toimitettu)
      {% else %}
        (odottaa toimitusta)
        <ul>
          {% if not batch.is_delivered %}
            <li><a href="{% url tickets_admin_batch_deliver_view event.slug batch.pk %}">Merkitse toimitetuksi</a></li>
            <li><a href="{% url tickets_admin_batch_cancel_view event.slug batch.pk %}">Peruuta toimituserä</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  <li><a href="{% url tickets_admin_batch_create_view %}">Uusi toimituserä</a></li>
</ul>
{% endblock admin_content %}
