extends core_admin_base.pug
block title
  |{{ organization.name }}: {{ member.official_name }}
block admin_content
  include membership_admin_member_views/pager
  include membership_admin_member_views/tabs

  form(method='POST', role='form').form-horizontal
    //- To catch Enter button presses
    input.btn.btn-success.hidden(type='submit', name='save-edit', value='Tallenna ja jatka')

    .tab-content.kompassi-slight-space-above
      include membership_admin_member_views/person_tab
      include membership_admin_member_views/state_tab
      include membership_admin_member_views/payments_tab
