extends core_profile_base.pug
block title
  | Yhdistysten jäsenyydet
block profile_content
  h3 Nykyiset jäsenyydet
  if memberships.exists
    ul.list-group
      for membership in memberships
        li.list-group-item
          .pull-right
            if membership.get_payment_for_term
              if not membership.get_payment_for_term.is_paid
                .label.label-danger Jäsenmaksu maksamatta
            .label(class='{{ membership.state_css }}')= membership.get_state_display
          a(href='{% url "core_organization_view" membership.organization.slug %}')= membership.organization.name
  else
    p Et ole jäsenenä yhdessäkään {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} jäsenrekisteriä käyttävässä yhdistyksessä.

  h3 Yhdistykset, joihin voit liittyä
  if potential_organizations.exists
    ul.list-group
      for organization in potential_organizations
        li.list-group-item
          a(href='{% url "membership_apply_view" organization.slug %}')= organization.name
  else
    p Et tällä hetkellä voi liittyä yhteenkään {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} jäsenrekisteriä käyttävään yhdistykseen.
