- load i18n
.panel.panel-default
  .panel-heading
    strong.kompassi-space-after {{ involvement.event.name }}
    small.text-muted {{ involvement.event.headline }}
  .panel-body
    if involvement.signup
      .row
        label.col-md-3.control-label {% trans "Volunteer work" %}:
        .col-md-9
          if involvement.current_user_is_labour_admin
            a.kompassi-space-after(href='{% url "labour:admin_signup_view" involvement.event.slug person.pk %}') {{ involvement.signup.some_job_title }}
          else
            span.kompassi-space-after {{ involvement.signup.some_job_title }}
          span.label(class='{{ involvement.signup.state_label_class }}') {{ involvement.signup.formatted_state }}

    if involvement.enrollment
      .row
        label.col-md-3.control-label {% trans "Enrollment" %}:
        .col-md-9
          if involvement.current_user_is_enrollment_admin
            a.kompassi-space-after(href='{% url "enrollment_admin_view" involvement.event.slug %}') Ilmoittautunut
          else
            span.kompassi-space-after Ilmoittautunut
          span.label(class='{{ involvement.enrollment.state_label_class }}') {{ involvement.enrollment.get_state_display }}


    for programme_role in involvement.programme_roles
      .row
        label.col-md-3.control-label {% trans "Programme item" %}:
        .col-md-9
          if involvement.current_user_is_programme_admin
            a.kompassi-space-after(href='{% url "programme:admin_detail_view" involvement.event.slug programme_role.programme.pk %}') {{ programme_role.programme.title }}
          else
            span.kompassi-space-after {{ programme_role.programme.title }}
          span.label(class='{{ programme_role.programme.state_css }}') {{ programme_role.programme.get_state_display }}
