extends "core_admin_base.pug"
- load i18n
- load crispy_forms_tags
block title
  {% trans "Teams and organizers" %}
block admin_content
  h3 {% trans "Teams and organizers" %}
  form.form-horizontal(method='POST')
    button.sr-only(type='submit', name='action', value='save-return') {% trans "Save and return" %}
    .panel.panel-default
      .panel-heading: strong
        if team_member_form.instance.pk
          {% trans "Edit team member" %}
        else
          {% trans "Add a member to a team" %}
      .panel-body
        {% crispy team_member_form %}
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "intra:organizer_view" event.slug %}') {% trans "Cancel and return" %}
          if team_member_form.instance.pk
            button.btn.btn-danger(type='submit', name='action', value='delete')
              i.fa.fa-trash.kompassi-icon-space-right
              {% trans "Remove team member" %}
          button.btn.btn-success(type='submit', name='action', value='save-continue')
            i.fa.fa-floppy-o.kompassi-icon-space-right
            {% trans "Save and continue" %}
          button.btn.btn-success(type='submit', name='action', value='save-return')
            i.fa.fa-floppy-o.kompassi-icon-space-right
            {% trans "Save and return" %}
