.timetable a {
	color: white;
}

.timetable .muu {
	background-color: #5eb95e;
}

.timetable .rope {
	background-color: #8058a5;
}

.timetable .anime {
	background-color: #0e90d2;
}

.timetable .cosplay {
	background-color: #dd514c;
}

.timetable .miitti {
	background-color: #f37b1d;
}

.timetable .sisainen {
	background-image: url('/static/stripe.png');
}

.timetable .hilight, .descriptions .hilight {
	background: url(jean_victor_balin_icon_star_24px.png) no-repeat;
	padding: 5px;
	display: inline-block;
	width: 24px;
	height: 24px;
	color: transparent; /* XXX hack */
}

.descriptions .hilight {
	vertical-align: bottom;
}

.descriptions .programme {
	margin: 0px 0px 20px 1px;
	padding-left: 8px;
}

.descriptions .muu {
	border-left: 5px solid #5eb95e;
}

.descriptions .rope {
	border-left: 5px solid #8058a5;
}

.descriptions .anime {
	border-left: 5px solid #0e90d2;
}

.descriptions .cosplay {
	border-left: 5px solid #dd514c;
}

.descriptions .miitti {
	border-left: 5px solid #f37b1d;
}

.descriptions .sisainen {
	border-left: 5px solid #666;
}