- load trans from i18n
.container.kompassi-space-above.visible-xs
  .alert.alert-warning(role="alert") {% trans "This view has not been designed for a display this small. For an optimal user experience, please switch to a tablet or a computer." %}
