.programme a {
	color: white;
}

.muu, .rope, .anime, .cosplay, .goh, .miitti, .sisainen {
	color: white;
}

.muu {
	background-color: #5eb95e;
}

.rope {
	background-color: #8058a5;
}

.anime {
	background-color: #0e90d2;
}

.cosplay {
	background-color: #dd514c;
}

.goh {
	background-color: #fad232;
	color: black;
	font-weight: bold;
}

.goh a {
	color: black;
}

.miitti {
	background-color: #f37b1d;
}

.sisainen {
	background-image: url('/static/stripe.png');
}

.hilight {
	border: 3px solid #ddd !important;
}