.muu, .rope, .anime, .cosplay, .goh, .miitti {
	color: white;
}

.muu {
	background-color: #2C562A;
}

.rope {
	background-color: #581065;
}

.anime {
	background-color: #291793;
}

.cosplay {
	background-color: #76030E;
}

.goh {
	background-color: #FAFAC3;
	color: navy;
	font-weight: bold;
}

.miitti {
	background-color: #63430b;
}

.hilight {
	border: 3px solid #ddd !important;
}