doctype 5
html
  head
    title {{ settings.TURSKA_INSTALLATION_NAME }}
    link(rel='stylesheet', href='{{ STATIC_URL }}bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}frontend.css')
    link(rel='stylesheet', href='{{ STATIC_URL }}tracon_categories.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#base-navbar-collapse")
            span(class="sr-only") Avaa valikko
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          if event
            a.navbar-brand(href='{% url "core_event_view" event.slug %}') {{ event.name }}
          else
            a.navbar-brand(href='{% url "core_frontpage_view" %}') {{ settings.TURSKA_INSTALLATION_NAME }}
        .collapse.navbar-collapse#base-navbar-collapse
          ul.nav.navbar-nav
            if event.homepage_url
              li: a(href='{{ event.homepage_url }}') Takaisin {{ event.name_genitive }} sivustolle
          ul.nav.navbar-nav.navbar-right
            include core_navbar_user.jade

    #wrap
      if messages
        .messages.container
          for message in messages
            if message.tags
              .alert(class="alert-{{ message.tags }}") {{ message }}
            else
              .alert {{ message }}

      block content_full_width

      .container.content
        block content

      #push

    footer
      .container
        p.muted.credit
          if event and event.homepage_url and event.organization_url and event.organization_name
            a(href='{{ event.homepage_url }}', target='_blank') {{ event.name_genitive }}
            |  järjestää
            a(href='{{ event.organization_url }}', target='_blank')  {{ event.organization_name }}
            | .
          | Turska-ohjelmisto &copy; 2013&ndash;2014 Jussi Sorjonen, Santtu Pajukanta, Jyrki Launonen, Pekka Wallendahl, Esa Ollitervo, Meeri Panula ja Petri Haikonen.

    script(src='{{ STATIC_URL }}jquery-1.10.2.min.js')
    script(src='{{ STATIC_URL }}bootstrap/bootstrap.min.js')
    script(src='{{ STATIC_URL }}timetable.js')
    block extra_scripts
