li.active: a(href='{% url "core_profile_view" %}') Profiili
if 'labour' in settings.INSTALLED_APPS
  li: a(href='{% url "labour_qualifications_view" %}') Pätevyydet
li: a(href='#') Salasanan vaihtaminen