if show_language_warning and not login_page
  .alert.alert-warning
    p The English translation of Kompassi is a <strong>work in progress</strong>. We apologize for the large number of missing translations.
    p If you are able to read Finnish, we recommend switching to Finnish via the link at the upper right.
