extends base
block content
  if "tracon_branding" in settings.INSTALLED_APPS
    include tracon_branding_frontpage.jade
  if current_events
    h2 Parhaillaan käynnissä olevat tapahtumat
    .row
      for event in current_events
        .col-md-3
          include core_event_box.jade
  if future_events
    h2 Tulevat tapahtumat
    .row
      for event in future_events
        .col-md-3
          include core_event_box.jade
  if past_events
    h2 Menneet tapahtumat
    .row
      for event in past_events
        .col-md-3
          include core_event_box.jade
