extends base
- load crispy_forms_tags
block title
  | Salasanan nollaus
block content
  ul.breadcrumb
    li 1. Salasanan nollauslinkin pyytäminen
    li.active 2. Uuden salasanan asettaminen
  h2 Salasanan nollaus
  p Voit asettaa itsellesi uuden salasanan tällä lomakkeella.
  - crispy form
