extends base
- load crispy_forms_tags
block title
  | Salasanan nollaus
block content
  ul.breadcrumb
    li.active 1. Salasanan nollauslinkin pyytäminen
    li 2. Uuden salasanan asettaminen
  h2 Salasanan nollaus
  p Jos olet unohtanut salasanasi, saat salasanan nollauslinkin sähköpostiisi syöttämällä sähköposti&shy;osoitteesi:
  - crispy form
