extend core_profile_base
block title
  | Sähköposti&shy;osoitteen vahvistaminen
block profile_content
  fieldset
    legend Sähköposti&shy;osoitteen vahvistaminen

    p Pyydämme kaikkia käyttäjiä vahvistamaan sähköposti&shy;osoitteensa napsauttamalla sähköpostiinsa lähetettyä vahvistuslinkkiä. Jotkin {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} toiminnot edellyttävät vahvistettua sähköposti&shy;osoitetta.

    if code
      p Sähköposti&shy;osoitteeseesi <em>{{ user.person.email }}</em> on {{ code.created_at|date }} lähetetty vahvistuslinkki, jota napsauttamalla voit vahvistaa sähköposti&shy;osoitteesi. Jos viesti ei ole tullut perille tai vahvistaminen ei sen linkillä jostain syystä onnistu, voit pyytää uuden vahvistuslinkin allaolevalla napilla.

    form(action='{% url "core_email_verification_request_view" %}', method='post')
      {% csrf_token %}
      button.btn.btn-success(type='submit') Lähetä vahvistuslinkki
