extends base
block title
  | {{ organization.name }}
block content
  .row
    .col-md-8
      h2 {{ organization.name }}

      {{ organization.description|linebreaks }}

      if organization.homepage_url
        a.btn.btn-primary(href='{{ organization.homepage_url }}', target='_blank') Yhdistyksen kotisivuille
    .col-md-4.hidden-sm.hidden-xs
      if organization.logo_url
        a(href='{{ organization.homepage_url }}', target='_blank')
          img(src='{{ organization.logo_url }}', alt='{{ organization.name }}', width='100%')

  if organization.membership_organization_meta
    include membership_organization_box
    hr

  .kompassi-event-boxen
    if current_events_rows
      h3 Yhdistyksen parhaillaan käynnissä olevat tapahtumat
      for current_events_row in current_events_rows
        .row
          for event in current_events_row
            .col-md-3
              include core_event_box
    if future_events_rows
      h3 Yhdistyksen tulevat tapahtumat
      for future_events_row in future_events_rows
        .row
          for event in future_events_row
            .col-md-3
              include core_event_box
    if past_events_rows
      h3 Yhdistyksen menneet tapahtumat
      for past_events_row in past_events_rows
        .row
          for event in past_events_row
            .col-md-3
              include core_event_box
