extends base
- load i18n
block full_title
  | {{ settings.KOMPASSI_INSTALLATION_NAME }}
block content_full_width
  include core_frontpage_carousel.jade

  .container
    include core_messages.jade
    include core_event_boxen.jade

    p.text-muted: a(href='{% url "core_events_view" %}') {% trans "Browse all events" %} &raquo;
