extends base
block content_full_width
  .container-fluid
    include core_messages
    h2 {{ admin_title }}
    .admin-row
      .admin-col.admin-menu
        ul.nav.nav-pills.nav-stacked
          include core_admin_menu_items
      .admin-col.admin-main
        block admin_content
      .admin-col.admin-side-bar
          block side_bar
