extends base.jade
block full_title
  | {{ event.name }} &ndash; {{ settings.KOMPASSI_INSTALLATION_NAME }}
block content
  .core-event-view
    .row
      .col-md-8
        h2 {{ event.name }}
          small.text-muted
            | {{ event.venue.name_inessive }}
            if event.start_time
              {{ event.formatted_start_and_end_date }}

        {{ event.description|linebreaks }}
      .col-md-4.hidden-sm.hidden-xs
        if event.logo_url
          a(href='{{ event.homepage_url }}', target='_blank')
            img(src='{{ event.logo_url }}', alt='{{ event.name }}', width='100%')

    if event.labour_event_meta
      include labour_event_box.jade

    if event.programme_event_meta
      include programme_event_box.jade

    if event.tickets_event_meta
      include tickets_event_box.jade

    if event.badges_event_meta
      include badges_event_box.jade
