extends base.jade
- load crispy_forms_tags
block content
  .row.core-login-view
    .col-md-6
      form(method='POST', role='form').form.form-horizontal
        - crispy form
        .form-group
          .controls.col-md-offset-4.col-md-8
            input.btn.btn-primary(type='submit', name='submit', value='Kirjaudu sisään')
            a.btn.btn-link(href='{% url "core_password_reset_request_view" %}') Salasana unohtunut
    .col-md-6
      fieldset
        legend Luo itsellesi {{ settings.KOMPASSI_ACCOUNT_BRANDING }}
        if settings.KOMPASSI_ACCOUNT_INFO
          p {{ settings.KOMPASSI_ACCOUNT_INFO }}
        p Jos sinulla ei ole vielä {{ settings.KOMPASSI_ACCOUNT_BRANDING_PARTITIVE }}, voit rekisteröidä sellaisen helposti ja nopeasti.
        a.btn.btn-success(href='{% url "core_registration_view" %}?next={{ next }}') Rekisteröidy
