- load trans from i18n
.kompassi-event-boxen
  if current_events_rows
    h2 {% trans "Events currently in progress" %}
    for current_events_row in current_events_rows
      .row
        for event in current_events_row
          .col-md-3
            include core_event_box.jade
  if future_events_rows
    h2 Tulevat tapahtumat
    for future_events_row in future_events_rows
      .row
        for event in future_events_row
          .col-md-3
            include core_event_box.jade
  if past_events_rows
    h2 Menneet tapahtumat
    for past_events_row in past_events_rows
      .row
        for event in past_events_row
          .col-md-3
            include core_event_box.jade
