extends base.jade
block content
  .core-event-view
    h2 {{ event.name }}

    if event.labour_event_meta
      include labour_event_box.jade

    if event.programme_event_meta
      include programme_event_box.jade
