extends base
- load crispy_forms_tags
block content
  .core-profile-view
    h2 Omat tiedot
    .row
      .col-md-3
        ul.nav.nav-pills.nav-stacked
          include core_profile_menu_items.jade
      .col-md-9
        - crispy form