if user.is_authenticated
  li.dropdown
    a(href="#", class="dropdown-toggle", data-toggle="dropdown")
      | {{ user.get_full_name }}&nbsp;
      b.caret
    ul.dropdown-menu
      include core_profile_menu_items.jade
      li.divider
      li: a(href='/logout') Kirjaudu ulos
else
  li: a(href="/login") Rekisteröidy tai kirjaudu sisään...
