ul.pager
  if previous_signup
    li.previous
      a(href='{% url "labour:admin_signup_view" event.slug previous_signup.person.id %}') &larr; {{ previous_signup.person.full_name }}

  li.current
    .btn.disabled {{ signup.person.full_name }}
    .label(class='{{ signup.state_label_class }}') {{ signup.formatted_state }}

  if next_signup
    li.next
      a(href='{% url "labour:admin_signup_view" event.slug next_signup.person.id %}') {{ next_signup.person.full_name }} &rarr;
