$primary: rgb(11, 95, 138);
$table-striped-bg-factor: 0.03;
@import "~bootstrap/scss/bootstrap";

.link-subtle {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link-xsubtle {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
