$primary: rgb(11, 95, 138);
$table-striped-bg-factor: 0.03;
@import "~bootstrap/scss/bootstrap";

.link-subtle {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link-xsubtle {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.link-subtle.text-muted,
.text-muted .link-subtle,
.link-subtle .text-muted {
  color: color-mix(in srgb, var(--bs-primary) 25%, var(--bs-secondary) 75%);
}

.accordion-header .accordion-button {
  font-weight: bold;
}
