.col-md-6
  .panel.panel-default
    .panel-heading: strong Kirjaudu sisään Desuprofiililla
    .panel-body
      p Voit kirjautua {{ settings.KOMPASSI_INSTALLATION_NAME_ILLATIVE }} myös Desuprofiilin avulla.
      p Mikäli sinulla ei vielä ole Kompassi-tunnusta, sinulle luodaan uusi Desuprofiiliin liitetty Kompassi-tunnus.
      p Jos sinulla sen sijaan on samalla sähköposti&shy;osoitteella jo Kompassi-tunnus, Desuprofiilisi yhdistetään Kompassi-tunnukseesi sähköposti&shy;varmennuksen jälkeen.
      p.text-muted: small Kirjautumalla sisään Desuprofiililla annat <strong>Kehittyvien conien Suomi ry</strong>:lle luvan luovuttaa <strong>Tracon&nbsp;ry</strong>:lle <abbr title="käyttäjänimi, etunimi, sukunimi, nick, sähköpostiosoite ja puhelinnumero">Desuprofiiliisi liitetyt henkilö- ja yhteystiedot</abbr> ja hyväksyt niiden käytön <a href='{{ settings.KOMPASSI_PRIVACY_POLICY_URL }}' target='_blank'>{{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }}&nbsp;rekisteriselosteen</a> mukaisesti.
    .panel-footer.clearfix
      .pull-right
        a(href='{% url "desuprofile_integration_oauth2_login_view" %}?next={{ next|urlencode }}').btn.btn-success Kirjaudu sisään Desuprofiililla
