.row
  .col-md-8
    h1 Tervetuloa {{ KOMPASSI_INSTALLATION_NAME_ILLATIVE }}!
    p {{ KOMPASSI_INSTALLATION_NAME }} on Traconin tapahtumanhallintajärjestelmä, joka tarjoaa Tampereen roolipeli- ja animetapahtuma Traconille sekä useille muille tapahtumille työkalut vapaaehtoistyövoiman, ohjelmanumeroiden sekä lipunmyynnin hallintaan.
    p Jos olet talkootyöntekijä tai ohjelmanjärjestäjä, {{ KOMPASSI_INSTALLATION_NAME_GENITIVE }} palvelut ovat käytettävissäsi {{ KOMPASSI_ACCOUNT_BRANDING_ADESSIVE }}. Jos sinulla on jo {{ KOMPASSI_ACCOUNT_BRANDING }}, voit <a href="/login">kirjautua sisään</a>. Muussa tapauksessa voit <a href="/register">rekisteröityä</a>.
    p {{ KOMPASSI_INSTALLATION_NAME_GENITIVE }} palvelut ovat halutessasi myös maksutta oman tapahtumasi hyödynnettävissä. {{ KOMPASSI_APPLICATION_NAME }} on <a href="https://github.com/japsu/kompassi" target="_blank" title="GitHub">avoimen lähdekoodin sovellus</a>, jonka voit asentaa omalle palvelimellesi. Tracon tarjoaa myös omaa {{ KOMPASSI_APPLICATION_NAME }}-asennustaan muiden tapahtumien käyttöön ns. "pilvipalveluna".
    p Mikäli {{ KOMPASSI_APPLICATION_NAME }} omalle tapahtumallesi kiinnostaa, ota yhteyttä Santtu "Japsu" Pajukantaan sähköpostitse osoitteella <em>japsu&nbsp;ät&nbsp;tracon.fi</em>.
  .col-md-4
    img(src='{{ STATIC_URL }}kompassi.svg', type='image/svg+xml', width='100%')    