extends base
- load i18n
- load crispy_forms_tags
// NOTE: this is the "v1.5" version of the ticket shop
// the v1 version still exists and is in tickets_*_phase.pug
block title
  | {% trans "Ticket sales" %}
block content
  if order.is_paid
    h2 {% trans "Thank you for your order!" %}
    p {% trans "Your order is now complete. A confirmation message with electronic tickets has been sent to the e-mail address you provided." %}
  else
    h2 {% trans "Your order is not yet complete!" %}
    p {% trans "You have already confirmed your order and it can no longer be changed. However, we have not yet received word of your successful payment. If the payment is still in progress in another tab or browser window, please complete it there. If you cancelled the payment, please proceed to payment again or cancel the order using the buttons below. If you completed the payment, it is likely that you did not return to the web shop using the link provided by the payment provider. In this case, please wait three to five banking days before contacting our customer service." %}

  p: <strong>{% trans "Order number:" %}</strong>: {{ order.formatted_order_number }}

  include tickets_order_fragment

  form.form-horizontal(method="POST", style="margin-bottom: 4em")
    {% csrf_token %}
    if order.is_paid
      button.btn.btn-primary.btn-block(type="submit", name="action", value="new-order")
        | {% trans "Make another order" %}
    else
      button.btn.btn-success.btn-block(type="submit", name="action", value="pay-order")
        i.fa.fa-money.kompassi-icon-space-right
        | {% trans "Proceed to payment" %}
      button.btn.btn-danger(type="submit", name="action", value="cancel-order")
        i.fa.fa-trash.kompassi-icon-space-right
        | {% trans "Cancel order" %}
