html {
    overflow-y: scroll;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box
}

body, input, select, td {
    font: 10pt "Roboto Light", "Helvetica Neue", "Segoe UI", sans-serif;
}

#search, select.filter {
    width: 100%;
}

#controls {
    transform: translate3d(0px,0px,0px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background: #880000;
    color: #fff;
    background: rgba(136, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 50px;
}

#controls > label {
    flex-grow: 1;
    display: block;
    padding-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input, select {
    border: none
}

#wrap {
    margin-top: 50px
}


#schedule {
    width: 100%;
    border-collapse: collapse
}

.weekday-divider td {
    font-weight: bold;
    background: #760000;
    color: #FFF;
    padding: 0.5em;
    border-bottom: 1px solid black
}

.prog.current td {
    color: green;
    font-weight: bold;
}

.prog:nth-child(2n) {
    background: #eee
}

.prog:hover td {
    background: #ac4d4d
}

.prog.starred td.times, .prog.starred td.star {
    background: yellow;
}

.prog td {
    padding: 2px 4px
}

.meta {
    font-size: 8pt
}

.times {
    max-width: 5em;
    text-align: center;
}

.hashtag {
    margin-left: 0.5em;
}

.kind {
    padding: 1px 3px;
    margin-right: 0.5em;
    border-radius: 4px;
    background: #ddd;
    font-weight: normal;
}


.anime{background:#f1fbe3}
.paneeli{background:#f9fde3}
.luento{background:#ffeedf}
.oppitunti{background:#f4ffdf}
.paja{background:#f4ffdf}
.esit{background:#dff1ff}
.cosplay{background:#E5E1FC}
.keskustelupiiri{background:#DAFCE1}
.pienluento{background:#F9FFDC}
.visa{background:#dfdfff}

.no-results {
    font-size: 250%;
    text-align: center;
}

td.star {
    text-align: center;
}

.description {
    max-width: 45em;
    margin: 1em;
}

.prog a {
    color: inherit
}
