body {
    padding-top: 17px;
}

.paikkala-inspection-view h1, .paikkala-inspection-view p {
    text-align: center;
}

.paikkala-inspection-view h1 {
    margin-bottom: 0;
    font-size: 33px;
}

.paikkala-inspection-view img {
    width: 100%;
}

.paikkala-inspection-view ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.paikkala-inspection-view p {
    font-size: 25px;
    margin-bottom: 25px;
}


.paikkala-zone-takapermanto-oikea-2-krs, .paikkala-zone-etupermanto-oikea-2-krs, .paikkala-zone-aitio-a-oikea-2-krs {
    background-color: #FFF226; /* keltainen */
}

.paikkala-zone-takaparveke-vasen-3-krs, .paikkala-zone-etuparveke-vasen-3-krs {
    background-color: #00C3FF; /* sininen */
}

.paikkala-zone-takaparveke-oikea-3-krs, .paikkala-zone-etuparveke-oikea-3-krs {
    background-color: #FF5052; /* punainen */
}

.paikkala-zone-takapermanto-vasen-2-krs, .paikkala-zone-etupermanto-vasen-2-krs {
    background-color: #69E140; /* vihrea */
}
