extends base.jade
block content
  h2 Desuprofiilin yhdistäminen edellyttää sähköpostivahvistusta
  p Desuprofiiliisi liitetyllä sähköpostiosoitteella löytyi olemassa oleva Kompassi-tunnus. Desuprofiilin yhdistäminen olemassa olevaan Kompassi-tunnukseen edellyttää sähköpostivahvistusta.
  p Tarkista sähköpostisi ja seuraa sieltä löytyviä ohjeita yhdistääksesi Desuprofiilisi Kompassi-tunnukseesi.
  p Ongelmatilanteissa ota yhteyttä {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} ylläpitoon: <em>{{ settings.DEFAULT_FROM_EMAIL }}</em>.
