extends base.pug
block title
  | Vahvista liitos
block content
  h2 Desuprofiilin yhdistäminen edellyttää sähköposti&shy;vahvistusta
  p Desuprofiiliisi liitetyllä sähköposti&shy;osoitteella löytyi olemassa oleva Kompassi-tunnus. Desu&shy;profiilin yhdistäminen olemassa olevaan Kompassi-tunnukseen edellyttää sähköposti&shy;vahvistusta.
  p Tarkista sähköpostisi ja seuraa sieltä löytyviä ohjeita yhdistääksesi Desuprofiilisi Kompassi-tunnukseesi.
  p Ongelma&shy;tilanteissa ota yhteyttä {{ settings.KOMPASSI_INSTALLATION_NAME_GENITIVE }} ylläpitoon: <em>{{ settings.DEFAULT_FROM_EMAIL }}</em>.
