extends core_admin_base
- load crispy_forms_tags
- load i18n
block title
  | Paitakoot
block admin_content
  .panel.panel-default
    .panel-heading: strong {% trans "Standard special diets" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Special diet" %}
          th {% trans "Count" %}
      tbody
        for special_diet in special_diets
          tr
            td= special_diet.name
            td= special_diet.count

  .panel.panel-default
    .panel-heading: strong {% trans "Other special diets" %}
    table.table.table-striped
      thead
        tr
          th {% trans "Standard special diet" %}
          th {% trans "Other special diet" %}
      tbody
        for enrollment in enrollments_with_other_special_diets
          tr
            td= enrollment.formatted_special_diet
            td= enrollment.special_diet_other
