extends core_admin_base
block title
  | Raportit

block admin_content
  .panel.panel-default
    .panel-heading: strong Badgejen nouto tunneittain
    table.table.table-striped
      thead
        tr
          th Tunti
          th Tunnilla saapuneet
          th Yhteensä
      tbody
        for arrival_row in arrivals_by_hour
          tr
            td {{ arrival_row.hour|date:"SHORT_DATETIME_FORMAT"|default:"Ei saapuneet" }}
            td {{ arrival_row.arrivals }}
            td {{ arrival_row.cum_arrivals }}
