doctype html
- load static from static
- load trans from i18n
html
  head
    title {{ event.name }}: {% trans "Seat reservation" %}
    link(rel='stylesheet', href='{% static "kompassi.css" %}')
    link(rel='stylesheet', href='{% static "programme/css/paikkala_inspection_view.css" %}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(class='paikkala-zone-{{ ticket.zone.name|slugify }}')
    .paikkala-inspection-view
      p.text-muted {{ ticket.program.kompassi_v2_schedule_item.event.name }}

      if ticket.program.kompassi_v2_schedule_item.paikkala_icon
        img.paikkala-programme-icon(src='{{ ticket.program.kompassi_v2_schedule_item.paikkala_icon.url }}', alt='')

      h1 {{ ticket.program.name }}

      p.text-muted {% trans "Seat reservation" %} &times; {{ tickets|length }}
      div.kompassi-space-above

      p {{ ticket.zone }}

      if ticket.program.numbered_seats
        p
          for ticket in tickets
            | {% trans "row" %} {{ ticket.row.name }}, {% trans "seat" %} {{ ticket.number }}
            br
