extends base.pug
- load i18n
- load bootstrap3
block title
  | {% trans "Reserve seats" %}: {{ program }}
block content
  h2 {{ program }}
  form(method='POST').form-horizontal
    {% csrf_token %}
    .panel.panel-default
      .panel-heading
        strong {% trans "Reserve seats" %}
      .panel-body
        {% bootstrap_form form layout='horizontal' %}
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "program_v2:paikkala_profile_reservations_view" %}')
            i.fa.fa-undo.kompassi-icon-space-right
            {% trans "Return without reserving seats" %}
          button.btn.btn-success(type='submit')
            i.fa.fa-check.kompassi-icon-space-right
            {% trans "Reserve the seats" %}
